@using Domain.ViewModel.User;
@model LoginUserVM

@{
    ViewData["Title"] = "Şifremi Unuttum";
}

<section style="background-color: #f0f0f0;">
    <div class="container" style="padding:1px 0">

        <div class="form-box forgotpassw" id="formscr">
            <form class="sifremiuonay input-groupa" id="fpass">
                    <div class="d-flex justify-content-center">
                    <img src="/images/approved.png" alt="Kapat" style="width:40px;">
                    <span style="padding-top: 5px; padding-left: 10px;font-size: 25px; color:#26FF17"></span>
                    </div>
                <div class="d-flex justify-content-center">
                    <span style="padding-top: 5px; padding-left: 10px;font-size: 25px; margin-top:20px;">Geçici Şifreniz Oluşturuldu.</span>
                </div>
         
                    <button type="submit" class="submit-btn" style="margin-top:40px;">Giriş Yap</button>

                </form>

           

        </div>

        <script src="app.js"></script>
    </div>
</section>