@using Domain.ViewModel.User;
@model LoginUserVM

@{
    ViewData["Title"] = "Eczane Girişi";
}

<div class="container registertopmargin">
    <div style="margin-top:40px;">
        <div class="row" style="justify-content:center; display:flex;">
            <div class="col-lg-3" style="transform: skewX(-20deg); margin-right: 5px;">
                <a href="@Url.Action("LoginUser","Account")" class="thm-btn bg-clr1 loginbtn" style="padding:10px;">
                    <h1 class="text-center registerpharmacys">İŞ ARAYAN GİRİŞİ</h1>
                </a>
            </div>
            <div class="col-lg-3" style="transform: skewX(-20deg); margin-left: 5px;">
                <a href="@Url.Action("LoginPharmacy","Account")" class="thm-btn bg-clr1" style="padding:10px;">
                    <h1 class="text-center registerpharmacys">İŞVEREN GİRİŞİ</h1>
                </a>
            </div>
        </div>

    </div>
    <style>
        .loginbtn{
            opacity: 0.7;
        }
        .loginbtn:hover{
            opacity:1;
        }

    </style>
    <div class="clearfix"></div>
    <section style="margin: 35px 0;">
        <div class="row">
            <div class="col-lg-6" style="padding:0;">
                <div style="display:flex; justify-content:center;align-items:center; padding:15px 0;">
                    <img src="~/images/ffarma.png" />
                </div>
            </div>
            <div>
                <div class="col-lg-6">
                    <div style="

align-items:center;
display:flex;">
                        <div class="account-container" style="max-width:450px;">
                            <div class="heading-bx left">
                                <h2 class="title-head" style="font-size:34px;">
                                    <span style="color:black;">Hesabınıza</span>
                                    <span>Giriş Yapın</span>
                                </h2>
                                <p>
                                    Hesabınız Yok mu ?
                                    <a href="@Url.Action("RegisterPharmacy","Account")" class="cr">
                                        Hemen Kayıt Ol
                                    </a>
                                </p>
                            </div>
                            <form class="contact-bx" method="post" asp-controller="Account" asp-action="Login">
                                <div class="row placeani">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input asp-for="Email" type="email" placeholder="E-Posta" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input asp-for="Password" type="password" class="form-control" placeholder="Şifreniz" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group form-forget">
                                            <div class="col-lg-2"></div>
                                            <div class="custom-control custom-checkbox col-lg-4 col-sm-6 col-xs-6">
                                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                                <label class="custom-control-label" for="customControlAutosizing">Beni hatırla</label>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-6">
                                                <a class="ml-auto" style="color: #848484; font-weight: 700;" href="@Url.Action("ForgotPassword","Account")">Şifremi Unuttum</a>
                                            </div>
                                            <div class="col-lg-2"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 margintopsre">
                                        <div class="btnmidd">
                                            <input type="hidden" asp-for="UserType" value="0" />
                                            <button name="submit" type="submit" value="Submit" class="btn button-md">Giriş Yap</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>