@using Domain.ViewModel.User;
@model LoginUserVM

@{
    ViewData["Title"] = "Üye Girişi / Kaydı";
}

<div class="container">
    <section style=" margin-top: 35px;">
    <div class="row">
        <div class="col-lg-6">
           <div style="display:flex; justify-content:center;align-items:center; height:600px;">
                    <img src="~/images/ffarma.png" />
           </div>
        </div>
        <div>
            <div class="col-lg-6">
                <div style="

align-items:center;
display:flex;">
                    <div class="account-container">
                        <div class="heading-bx left">
                            <h2 class="title-head" style="font-size:34px;">
                                <span style="color:black;">Hesabınıza</span>
                                <span>Giriş Yapın</span>
                            </h2>
                            <p>
                                Hesabınız Yok mu ?
                                <a href="@Url.Action("Register","Account")" class="cr">
                                    Hemen Kayıt Ol
                                </a>
                            </p>
                        </div>
                        <form class="contact-bx" method="post" asp-controller="Account" asp-action="Login">
                            <div class="row placeani">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input name="Email" type="email" placeholder="E-Posta" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input name="Password" type="password" class="form-control" placeholder="Your Password">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group form-forget">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                            <label class="custom-control-label" for="customControlAutosizing">Remember me</label>
                                        </div><a class="ml-auto" href="/react/forget-password">Forgot Password?</a>
                                    </div>
                                </div>
                                <div class="col-lg-12 m-b30">
                                    <button name="submit" type="submit" value="Submit" class="btn button-md">Giriş Yap</button>
                                </div>

                            </div>
                        </form>
                    </div>
              </div>
            </div>
        </div>
    </div>
</section>

</div>