@using Domain.ViewModel.User;
@model LoginUserVM

@{
    ViewData["Title"] = "Üye Girişi / Kaydı";
}

<section style=" margin-top: 40px;">
    <div class="row">
        <div class="col-lg-3">
            <div class="account-head" style="background-image:url(/images/Login.jpg)"></div>
        </div>
        <div>
            <div class="col-lg-9">
                <div style="

align-items:center;
display:flex;
 min-height: 100vh;">
                    <div class="account-container">
                        <div class="heading-bx left">
                            <h2 class="title-head" style="font-size:34px;">
                                <span style="color:black;">Hemen</span>
                                <span>Kayıt Ol</span>
                            </h2>
                            <p>
                                Hesabınız var mı ?
                                <a href="@Url.Action("Login","Account")" class="cr">
                                    Hemen Giriş Yapın
                                </a>
                            </p>
                        </div>
                        <form class="contact-bx">
                            <div class="row placeani">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input name="name" type="text" placeholder="Adınız" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input name="surname" type="text" placeholder="Soyadınız" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input name="phone" type="text" placeholder="Telefon Numaranız" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input name="email" type="email" placeholder="E-Posta Adresiniz" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input name="password" type="password" class="form-control" placeholder="Şifreniz">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input name="passwordagain" type="password" class="form-control" placeholder="Şifreniz Tekrar">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group form-forget">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                            <label class="custom-control-label" for="customControlAutosizing">Remember me</label>
                                        </div><a class="ml-auto" href="/react/forget-password">Forgot Password?</a>
                                    </div>
                                </div>
                                <div class="col-lg-12 m-b30">
                                    <button name="submit" type="submit" value="Submit" class="btn button-md">Kayıt Ol</button>
                                </div>

                            </div>
                        </form>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</section>