@using Domain.ViewModel.User;
@model LoginUserVM

@{
    ViewData["Title"] = "Kayıt Ol";
}

<div class="container" style="margin-top:35px;">
    <div style="margin-top:40px;">
        <div class="row" style="justify-content:center; display:flex;">
            <div class="col-lg-3" style="  transform: skewX(-20deg);">
                <a href="@Url.Action("Register","Account")" class="thm-btn bg-clr1" style="padding:10px;">
                    <h1 class="text-center" style="color:white;  transform: skewX(20deg); font-size:26px;">Kullanıcı Kayıt Ol</h1>
                </a>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3" style=" transform: skewX(-20deg);">
                <a href="@Url.Action("RegisterPharmacy","Account")" class="thm-btn bg-clr1 logbtn" style="padding:10px;">
                    <h1 class="text-center" style="color:white;  transform: skewX(20deg); font-size:26px;">Eczane Kayıt Ol</h1>
                </a>
            </div>
        </div>
    </div>
    <style>
        .logbtn {
            opacity: 0.7;
        }

            .logbtn:hover {
                opacity: 1;
            }
    </style>
    <div class="clearfix"></div>
    <section style=" margin-top: 35px;">
        <div class="row">
            <div class="col-lg-6">
                <div style="display:flex; justify-content:center;align-items:center; padding:15px 0;">
                    <img src="~/images/farmakullanici.png" />
                </div>
            </div>
            <div>
                <div class="col-lg-6">
                    <div style="align-items:center; display:flex;">
                        <div class="account-container">
                            <div class="heading-bx left">
                                <h2 class="title-head" style="font-size:34px;">
                                    <span style="color:black;">Hemen</span>
                                    <span>Kayıt Olun</span>
                                </h2>
                                <p>
                                    Zaten Hesabınız Var mı ? 
                                    <a href="@Url.Action("Login","Account")" class="cr">
                                        Hemen Giriş Yap
                                    </a>
                                </p>
                            </div>

                            <form class="contact-bx" method="post" asp-controller="Account" asp-action="Register">
                                <div class="row placeani">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input name="Name" type="text" placeholder="Adınız" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input name="Surname" type="text" placeholder="Soyadınız" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input name="PhoneNumber" type="text" placeholder="Telefon Numaranız" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input name="Email" type="email" placeholder="E-Posta Adresiniz" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input name="Password" type="password" class="form-control" placeholder="Şifreniz">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input name="ConfirmPassword" type="password" class="form-control" placeholder="Şifreniz Tekrar">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group form-forget">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                                <label class="custom-control-label" for="customControlAutosizing"><a href="#" style="color:black;">Koşulları Kabul Ediyorum</a></label>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 m-b30">
                                            <button name="submit" type="submit" value="Submit" class="btn button-md">Kayıt Ol</button>
                                        </div>
                                    </div>
                               

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>