@using DataAccess.Model;
@model ApplicationUser
@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Profil";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Kişisel Bilgiler</h3>
                    </div>
                    <form>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Adınız</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Adınız:">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Soyadınız</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Soyadınız:">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Telefon</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Telefon Numaranız:">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">E-Posta</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-Posta Adresiniz:">
                            </div>
                            <div class="form-group">
                                <label>İş Deneyimi</label>
                                <div id="experienceGroup" class="w-100">
                                    <select class="form-control" id="experienceDropdown">
                                        <option disabled selected>Deneyim Yılı</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>5</option>
                                        <option>5-10</option>
                                        <option>10-15</option>
                                        <option>15-20</option>
                                        <option>20+</option>
                                    </select>
                                </div>
                            </div>
             @*                <div class="form-group">
                                <label for="driverLicense">Sürücü Belgesi Sınıfı</label>
                                <select class="form-control" id="driverLicense" multiple>
                                    <option>M</option>
                                    <option>A1</option>
                                    <option>A2</option>
                                    <option>A</option>
                                    <option>B1</option>
                                    <option>B</option>
                                    <option>BE</option>
                                    <option>C1</option>
                                    <option>C1E</option>
                                    <option>C</option>
                                    <option>CE</option>
                                    <option>D1</option>
                                    <option>D1E</option>
                                    <option>D</option>
                                    <option>DE</option>
                                    <option>F</option>
                                </select>
                            </div> *@
                         

                            <div class="form-group">
                                <label for="exampleInputEmail1">Adres</label>
                                <textarea class="form-control" rows="3" placeholder="Adres Bilginiz ..."></textarea>
                            </div>
                            @*  <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <div class="input-group">
                            <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                            </div>
                            <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                            </div>
                            </div>
                            </div> *@
                            @*  <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div> *@
                        </div>
                        @*   <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </div> *@
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Yabancı Dil Bilgisi</h3>
                    </div>
                    <form>
                        <div class="card-body">
                                <label>Yabancı Dil</label>
                                <div class="form-group d-flex justify-content-between" id="mainContainer">
                                    <input type="number" id="numberInput" class="form-control" placeholder="Kaç Adet Dil Biliyorsunuz?">
                                </div>
                                <div id="textBoxContainer">
                                    <!--Diller-->
                                </div>
                            <script>
                                const numberInput = document.getElementById('numberInput');
                                const textBoxContainer = document.getElementById('textBoxContainer');
                                numberInput.addEventListener('input', function () {
                                    textBoxContainer.innerHTML = '';
                                    const count = parseInt(numberInput.value);
                                    for (let i = 0; i < count; i++) {
                                        const formGroup = document.createElement('div');
                                        formGroup.className = 'form-group d-flex justify-content-between';

                                        const newInput = document.createElement('input');
                                        newInput.type = 'text';
                                        newInput.placeholder = `${i + 1}. Dil`;
                                        newInput.className = 'form-control';
                                        newInput.style.marginRight = '10px';
                                        const select = document.createElement('select');
                                        select.className = 'form-control';
                                        const firstOption = document.createElement('option');
                                        firstOption.value = "";
                                        firstOption.text = "Seviye";
                                        firstOption.disabled = true;
                                        firstOption.selected = true;
                                        select.appendChild(firstOption);
                                        ["Başlangıç", "Temel", "Orta", "İyi", "İleri"].forEach(function (level) {
                                            const option = document.createElement('option');
                                            option.value = level;
                                            option.text = level;
                                            select.appendChild(option);
                                        });
                                        formGroup.appendChild(newInput);
                                        formGroup.appendChild(select);
                                        textBoxContainer.appendChild(formGroup);
                                    }
                                });
                            </script>
                            @*  <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <div class="input-group">
                            <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                            </div>
                            <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                            </div>
                            </div>
                            </div> *@
                            @*  <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div> *@
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Eğitim Bilgileri</h3>
                    </div>
                    <form>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Öğrenim Durumu</label>
                                <select class="form-control">
                                    <option disabled selected>Öğrenim Durumunuz</option>
                                    <option>İlk-Orta-Lise</option>
                                    <option>Lisans</option>
                                    <option>Yüksek Lisans</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Alınan Eğitimler / Sertifikalar</label>
                                <textarea class="form-control" rows="3" placeholder="Alınan Eğitimler / Sertifikalar"></textarea>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" style="padding: 17px 40px;">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</section>