@using Domain.Model;
@model ApplicationUser
@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Özgeçmiş";
}
<section class="content">
    <div class="container-fluid">

        <div style="margin:0; padding:0; display:flex; flex-wrap:wrap; width:100%;">
            <div class="col-md-3">
            </div>
            <div class="row col-md-6" style="margin:0; padding:0;">
                <div class="col-md-12">
                    <h1 style="text-align:center; margin-bottom:10px;">Özgeçmiş</h1>
                </div>
                <!--Kişisel Bilgiler-->
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Kişisel Bilgiler</h3>
                        </div>
                        <form>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Adınız</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Adınız:">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Soyadınız</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Soyadınız:">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Telefon</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Telefon Numaranız:">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">E-Posta</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-Posta Adresiniz:">
                                </div>
                                <div class="form-group">
                                    <label>İş Deneyimi</label>
                                    <div id="experienceGroup" class="w-100">
                                        <select class="form-control" id="experienceDropdown">
                                            <option disabled selected>Deneyim Yılı</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5-10</option>
                                            <option>11-15</option>
                                            <option>16-20</option>
                                            <option>21+</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Doğum Tarihiniz</label>
                                    <input type="text" id="txtboxc" class="form-control" id="exampleInputEmail1" placeholder="Doğum Tarihiniz:">
                                    <script>
                                        var dtt = document.getElementById('txtboxc')
                                        dtt.onfocus = function (event) {
                                            this.type = 'date';
                                            this.placeholder = '';
                                        }
                                        dtt.onblur = function (event) {
                                            this.type = 'date';
                                            this.placeholder = '';
                                        }
                                    </script>
                                </div>
                                <script>
                                    function convertToDateInput() {
                                        var inputField = document.getElementById("exampleInputEmail1");
                                        inputField.setAttribute("type", "date");
                                        inputField.removeAttribute("placeholder");
                                        document.querySelector("button").style.display = "none"; // Düğmeyi gizle
                                    }
                                </script>
                                <div class="form-group">
                                    <label>İl</label>
                                    <select id="Iller" class="form-control" name="Province">
                                        <option disabled value="0">İl Seçiniz</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>İlçe</label>

                                    <select id="Ilceler" class="form-control" name="District">
                                        <option disabled value="0">Lütfen Önce bir İl seçiniz</option>
                                    </select>
                                </div>
                                <script src="~/scripts/ililce.js" province="34" district="1"></script> <!--il-ilçe-script-->
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Adres</label>
                                    <textarea class="form-control" rows="3" placeholder="Adres Bilginiz..."></textarea>
                                </div>
                                @*  <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <div class="input-group">
                                <div class="custom-file">
                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                <span class="input-group-text">Upload</span>
                                </div>
                                </div>
                                </div> *@
                                @*  <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div> *@
                            </div>
                            @*   <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </div> *@
                        </form>
                    </div>
                </div>
                <!--Eğitim Bilgileri-->
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Eğitim Bilgileri</h3>
                        </div>
                        <form>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Okul İsmi</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Okul İsmi">
                                </div>
                                <div class="form-group">
                                    <label>Öğrenim Durumu</label>
                                    <select name="Education" class="form-control">
                                        <option disabled selected>Öğrenim Durumunuz</option>
                                        <option>İlk-Orta-Lise</option>
                                        <option>3.Sınıf</option>
                                        <option>4.Sınıf</option>
                                        <option>Lisans</option>
                                        <option>Yüksek Lisans</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Alınan Eğitimler / Sertifikalar</label>
                                    <textarea class="form-control" rows="8" placeholder="Alınan Eğitimler / Sertifikalar"></textarea>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <!--Referans Eczaneler-->
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Referans Eczaneler</h3>
                        </div>
                        <form>
                            <div class="card-body">
                                <div class="form-group d-flex justify-content-between" id="mainContainer">
                                    <a href="#" id="addFields" class="btn btn-primary">Yeni Referans Eczane Ekle <span>+</span></a>
                                </div>

                                <div id="textBoxContainera">
                                    <!-- Dinamik olarak eklenen alanlar buraya gelecek -->
                                </div>
                                <script>
                                    document.addEventListener("DOMContentLoaded", function () {
                                        const textBoxContainera = document.getElementById('textBoxContainera');
                                        let count = 0;

                                        document.getElementById("addFields").addEventListener('click', function (e) {
                                            e.preventDefault();

                                            // En fazla 10 alan kontrolü
                                            if (count >= 10) return;

                                            // Form grubunu oluştur
                                            const formGroup = document.createElement('div');
                                            formGroup.className = 'form-group d-flex justify-content-between align-items-center';
                                            formGroup.style.marginTop = '20px';
                                            formGroup.style.marginBottom = '20px';

                                            // Silme butonu oluştur
                                            const deleteButton = document.createElement('button');
                                            deleteButton.innerText = 'X';
                                            deleteButton.className = 'btn';
                                            deleteButton.style.marginLeft = '10px';
                                            deleteButton.style.background = 'red';
                                            deleteButton.style.color = 'white';
                                            deleteButton.addEventListener('click', function () {
                                                formGroup.remove();
                                                count--;  // Sayacı azalt
                                            });

                                            // Sadece metin için giriş alanı oluştur
                                            const textInput = createTextInput();

                                            // Pozisyon için giriş alanı oluştur
                                            const positionInput = createPositionInput();

                                            // Sadece sayı için giriş alanı oluştur
                                            const numberInput = createNumberInput();

                                            // Elementleri form grubuna ekle
                                            formGroup.appendChild(textInput);
                                            formGroup.appendChild(positionInput);
                                            formGroup.appendChild(numberInput);
                                            formGroup.appendChild(deleteButton);
                                            textBoxContainera.appendChild(formGroup);

                                            count++;  // Sayacı artır
                                        });

                                        function createTextInput() {
                                            const textInput = document.createElement('input');
                                            textInput.type = 'text';
                                            textInput.className = 'form-control';
                                            textInput.style.marginRight = '10px';
                                            textInput.placeholder = "Referans Eczane";
                                            textInput.addEventListener('input', function () {
                                                this.value = this.value.replace(/[0-9]/g, '');
                                            });
                                            return textInput;
                                        }

                                        function createPositionInput() {
                                            const select = document.createElement('select');
                                            select.className = 'form-control';
                                            select.style.marginRight = '10px';

                                            const firstOption = document.createElement('option');
                                            firstOption.value = "";
                                            firstOption.text = "Pozisyon";
                                            firstOption.disabled = true;
                                            firstOption.selected = true;
                                            select.appendChild(firstOption);

                                            [
                                                "Teknisyen",
                                                "Stajyer",
                                                "Yardımcı Eczacı",
                                                "İkinci Eczacı",
                                                "Eczane Temsilcisi",
                                                "Danışman",
                                                "Diğer"
                                            ].forEach(function (position) {
                                                const option = document.createElement('option');
                                                option.value = position;
                                                option.text = position;
                                                select.appendChild(option);
                                            });

                                            return select;
                                        }
                                        function createNumberInput() {
                                            const numberInput = document.createElement('input');
                                            numberInput.type = 'text';
                                            numberInput.className = 'form-control';
                                            numberInput.placeholder = "Deneyim Yılı";
                                            numberInput.addEventListener('input', function () {
                                                this.value = this.value.replace(/[^0-9]/g, '');
                                            });
                                            return numberInput;
                                        }
                                    });
                                </script>


                                @*  <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <div class="input-group">
                                <div class="custom-file">
                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                <span class="input-group-text">Upload</span>
                                </div>
                                </div>
                                </div> *@
                                @*  <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div> *@
                            </div>
                        </form>
                    </div>
                </div>
                <!--Yabancı Dil Bilgisi-->
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Yabancı Dil Bilgisi</h3>
                        </div>
                        <form>
                            <div class="card-body">
                                <div class="form-group d-flex justify-content-between" id="mainContainer">
                                    <button id="addLanguage" class="btn btn-primary">Yabancı Dil Ekle</button>
                                </div>
                                <div id="textBoxContainer">
                                    <!--Diller-->
                                </div>
                                <script>
                                    document.addEventListener("DOMContentLoaded", function () {
                                        const textBoxContainer = document.getElementById('textBoxContainer');
                                        let count = 0;

                                        document.getElementById("addLanguage").addEventListener('click', function (e) {
                                            e.preventDefault(); // Sayfanın yenilenmesini engelle

                                            // En fazla 7 dil kontrolü
                                            if (count >= 7) return;

                                            // Form grubunu oluştur
                                            const formGroup = document.createElement('div');
                                            formGroup.className = 'form-group d-flex justify-content-between';
                                            formGroup.style.marginTop = '10px';
                                            formGroup.style.marginBottom = '10px';

                                            // Dil için giriş alanı oluştur
                                            const newInput = document.createElement('input');
                                            newInput.type = 'text';
                                            newInput.name = 'Language';
                                            newInput.className = 'form-control';
                                            newInput.placeholder = `Yabancı Dil`;
                                            newInput.style.marginRight = '10px';

                                            // Seviye için select oluştur
                                            const select = document.createElement('select');
                                            select.className = 'form-control';

                                            const firstOption = document.createElement('option');
                                            firstOption.value = "";
                                            firstOption.text = "Seviye";
                                            firstOption.disabled = true;
                                            firstOption.selected = true;
                                            select.appendChild(firstOption);

                                            ["Başlangıç", "Temel", "Orta", "İyi", "İleri"].forEach(function (level) {
                                                const option = document.createElement('option');
                                                option.value = level;
                                                option.text = level;
                                                select.appendChild(option);
                                            });

                                            // Silme butonu oluştur
                                            const removeBtn = document.createElement('button');
                                            removeBtn.innerHTML = 'X';
                                            removeBtn.className = 'btn';
                                            removeBtn.style.marginLeft = '10px';
                                            removeBtn.style.background = 'red';
                                            removeBtn.style.color = 'white';
                                            removeBtn.addEventListener('click', function () {
                                                formGroup.remove();
                                                count--;
                                            });

                                            formGroup.appendChild(newInput);
                                            formGroup.appendChild(select);
                                            formGroup.appendChild(removeBtn);
                                            textBoxContainer.appendChild(formGroup);

                                            count++;
                                        });
                                    });

                                </script>
                            </div>
                        </form>
                    </div>
                </div>
                <!--Açıklama Alanı & CV-->
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Açıklama Alanı</h3>
                        </div>
                        <form>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Açıklama Alanı</label>
                                    <textarea class="form-control" rows="3" placeholder="Eklemek İstedikleriniz..."></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">CV Ekle</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile" accept=".docx, .pdf, .png, .jpg, .jpeg">
                                        <label class="custom-file-label" for="customFile">CV Dosyasını Ekle</label>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <!--Kaydet-->
                <div class="col-md-12">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary" style="padding: 17px 40px;">Kaydet</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</section>