<section class="not-found-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="not-found-content text-center">
                    <h1>404</h1>
                    <h3>OOPPS! ARADIĞINIZ SAYFA BULUNAMADI.</h3>
                    @*<p>Eşleşen sayfaları bulmak için aşağıdaki aramayı deneyin:</p>
                    <form class="search-form" action="#">
                        <input placeholder="Arama yap..." type="text">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>*@
                </div>
            </div>
        </div>
    </div>
</section> 