@using Domain.Model;
@using System.Globalization;
@model List<Advert>

@{
    ViewData["Title"] = "Dermokozmetik İlanları";
    int page = ViewBag.Page ?? 1;
    int pageCount = ViewBag.PageCount ?? 1;
    Domain.ViewModel.Core.PaginationVM pagingVm = new()
            {
                Controller = "JobAdvert",
                Action = "Dermocosmetic",
                Page = page,
                PageCount = pageCount
            };
}
<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/sss.png);">
    <div class="container text-center">
        <h1>Dermokozmetik İlanları</h1>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                <li><i class="fa fa-angle-right" style="color:black;" aria-hidden="true"></i></li>
                <li><a href="index.html">İlanlar</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li>Dermokozmetik İlanları</li>
            </ul>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->
<!--Start blog area-->
<section id="shop-area" class="main-shop-area">
    <div class="container">
        <div class="row">
            <!--Start sidebar Wrapper-->
            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12">
                <div class="sidebar-wrapper">
                    <!--Start single sidebar-->
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Lokasyon</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="categories clearfix">
                            <li>
                                <select id="Iller" class="form-control" name="Province">
                                    <option disabled value="0">İl Seçiniz</option>
                                </select>
                            </li>
                            <li>
                                <select id="Ilceler" class="form-control" name="District">
                                    <option disabled value="0">Lütfen Önce bir İl seçiniz</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <script src="~/scripts/ililce.js" province="0" district="0"></script> <!--il-ilçe-script-->
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Deneyim Süresi</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="categories clearfix">
                            <li>
                                <select class="form-control" id="yilSeciniz">
                                    <option value="" disabled selected>Yıl Seçiniz</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="5-10">5-10</option>
                                    <option value="10-20">10-20</option>
                                    <option value="20+">20+</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Maaş Aralığı</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="categories clearfix">
                            <li>
                                <select class="form-control" id="maasaraligi">
                                    <option value="" disabled selected>Maaş Seçiniz</option>
                                    <option value="1">Asgari Ücret</option>
                                    <option value="1">20.000</option>
                                    <option value="1">30.000</option>

                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Yan Haklar</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="categories clearfix">
                            <li>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Prim</label>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Yol</label>
                                </div>
                                <div class="form-group form-check" style="margin-bottom:0;">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Yemek</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Çalışan Sayısı</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="categories clearfix">
                            <li>
                                <select class="form-control" id="employeecount">
                                    <option value="" disabled selected>Kişi Sayısı</option>
                                    <option value="1">1</option>
                                    <option value="1">2</option>
                                    <option value="1">4</option>
                                    <option value="1">5</option>
                                    <option value="1">5-10</option>
                                    <option value="1">10-15</option>
                                    <option value="1">15-20</option>
                                    <option value="1">20-30</option>
                                    <option value="1">30+</option>

                                </select>
                            </li>
                        </ul>
                    </div>
                    <div style="display:flex; justify-content:center;">
                        <a class="thm-btn bg-clr1" style="padding:8px; width:100%;" type="submit" href="/JobAdvert/Detail/2">ARA</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="shop-content">
                    <div class="row advertpadding">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                @await Html.PartialAsync("_AdvertComponentPartial", item)
                            }
                        }

                    </div>
                    <!--Start post pagination-->
                    @if (Model?.Count > 0)
                    {
                        @await Html.PartialAsync("_PaginationPartial", pagingVm)
                    }
                    <!--End post pagination-->
                </div>
            </div>
            <!--End Sidebar Wrapper-->
        </div>
    </div>
</section>
<!--End blog area-->
<style>
    .btn {
        text-align: left;
        width: 100%;
        min-height: 50px;
    }

    .dropdown-menu {
        width: 100%;
        padding-left: 10px;
    }

    .dropdown-menu {
        appearance: none;
    }
</style>