@using Domain.Model;
@model Advert

@{
    ViewData["Title"] = "Üye Girişi / Kaydı";
    int AdvertId = Convert.ToInt32(ViewBag.AdvertId);
}

<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/sss.png);">
    <div class="container text-center">
        <h1>@Model?.ApplicationUser?.PharmacyName</h1>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li>@Model?.ApplicationUser?.PharmacyName</li>
            </ul>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->
<!--Start Project grid with text area-->
<section id="project-area" class="project-single-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-project-img-box">
                    <img src="~/images/eczane.png" alt="Awesome Image">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="project-info">
                    <ul>
                        <li><b>Eczane Adı</b>:<span>@Model?.ApplicationUser?.PharmacyName</span></li>
                        <li><b>Adres</b>:<span>@(Model?.ApplicationUser?.Address ?? "N/A")</span></li>
                        <li><b>Telefon</b>:<span>@Model?.ApplicationUser?.PhoneNumber</span></li>
                        <li><b>E-Mail</b>:<span>@Model?.ApplicationUser?.Email</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="legal-work-content">
                    <h3>@Model?.ApplicationUser?.PharmacyName</h3>
                    <span>@Model?.Type.GetDescription() İlanı</span>
                    <p>@Model?.Description</p>

                </div>
            </div>
        </div>
        <div class="row project-result">
            <div class="col-md-4">
                <div class="sec-title">
                    @*<h2>Başvuru Süreci ve Belgelerin Sonuçları</h2>*@
                    @*<span class="border"></span>*@
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-holder">
                    <p>"Eczane Açma ve İşletme Ruhsatı" başvuru süreci, titiz ve özenle yürütülmesi gereken bir süreçtir. İlk olarak, başvuru sahibi, yerel sağlık otoritelerine veya ilgili devlet kurumlarına başvurmalıdır. Bu başvurunun bir parçası olarak, işletme sahibinin ve yöneticilerinin eğitim ve deneyim belgeleri, işletme yerinin uygunluğu ve güvenliği, ilaçların saklanması ve dağıtılması için gerekli tesislerin varlığı gibi bir dizi belge sunması gerekebilir.</p>
                    <ul>
                        <li>Başvuru Formu Doldurma</li>
                        <li>Gerekli Belgelerin Toplanması</li>
                        <li>Başvuru Ücretleri</li>
                        <li>İnceleme Süreci</li>
                        <li>Onay veya Düzeltme Talepleri</li>
                        <li>Ruhsat Verilmesi veya Reddi</li>
                    </ul>
                </div>
                <form method="post" action="/JobAdvert/Apply">
                    <input type="hidden" name="AdvertId" value="@AdvertId" />
                    <button class="thm-btn bg-clr1" style="padding:0px 8px;" type="submit" data-loading-text="Lütfen bekleyiniz...">Başvur</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--End Project grid with text area-->
