@using Domain.ViewModel.User;
@model LoginUserVM

@{
    ViewData["Title"] = "Üye Girişi / Kaydı";
}

<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/sss.png);">
    <div class="container text-center">
        <h1>Eczane Adı</h1>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="index.html">Anasayfa</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li>Eczane Adı</li>
            </ul>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->
<!--Start Project grid with text area-->
<section id="project-area" class="project-single-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-project-img-box">
                    <img src="~/images/project/project-single.jpg" alt="Awesome Image">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="project-info">
                    <ul>
                        <li><b>Eczane Adı</b>:<span>Faruk Eczanesi</span></li>
                        <li><b>Adres</b>:<span>Kadıköy, İstanbul</span></li>
                        <li><b>Telefon</b>:<span>0 (543) 648 44 77</span></li>
                        <li><b>E-Mail</b>:<span>faruk@farmakariyer.com</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="legal-work-content">
                    <h3>Finance and legal work</h3>
                    <span>Financial Services</span>
                    <p>The challenge is to bring company seds whose web presence is boring up to date. The challenge sed is to ensure that when a ut client visits your websites they feel positive about your company projects. Anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. </p>
                    <a class="thm-btn bg-clr1" href="#">Launch Project</a>
                </div>
            </div>
        </div>
        <div class="row project-analysis">
            <div class="col-md-4">
                <div class="sec-title">
                    <h2>Project Analysis</h2>
                    <span class="border"></span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-holder">
                    <p>The project analyst providers critical data support to technical Research and analysis functions may include sed budget tracking financial sed forecasting projects evaluation and monitoring, maintanence compliance regulations and performing establisheed fact that a readers. Project it is a long establisheed fact that a readers will be ut distracted by that readable content of ut sed page when looking at its layout the point of using seds labour normal will be ut distracted by that readable.</p>
                    <p>Projects evaluation and monitoring, maintanence compliance regulations and performing establisheed fact that a readers. Project it is a long establisheed fact that a readers will be ut distracted by that readable content of ut sed page when looking at its layout the point of usingl will be ut distracted by that readable.</p>
                </div>
                <div class="chart-box">
                    <img src="~/images/project/chart-1.jpg" alt="Project Analysis">
                </div>
            </div>
        </div>
        <div class="row project-result">
            <div class="col-md-4">
                <div class="sec-title">
                    <h2>Project Result</h2>
                    <span class="border"></span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-holder">
                    <p>This mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>

                    <ul>
                        <li>Which toil and pain can procure him some great pleasure.</li>
                        <li>Any right to find fault with a man who annoying.</li>
                        <li>Consequences, or one who avoids a pain that produces.</li>
                        <li>Denouncing pleasure praising was born and I will give a complete. </li>
                        <li>expound the actual teachings of the great explorer of the truth.</li>
                        <li>Pleasure rationally encounter consequences that extremely.</li>
                    </ul>

                </div>
                <div class="chart-box">
                    <img src="~/images/project/chart-2.jpg" alt="Project Result">
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Project grid with text area-->
