@using Domain.ViewModel.User;
@model LoginUserVM

@{
    ViewData["Title"] = "Şifremi Unuttum";
}

@{
    ViewData["Title"] = "Anasayfa";
}

<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(/images/sss.png);">
	<div class="container text-center">
		<h1>Shop Products</h1>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="index.html">Anasayfa</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li>İlanlar</li>
            </ul>    
        </div> 
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start blog area-->
<section id="shop-area" class="main-shop-area">
    <div class="container">
        <div class="row">
            <!--Start sidebar Wrapper-->
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="shop-content">
                    <div class="row">
                        <!--Start single latest blog-->
                        <div class="single-blog-post">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="img-holder">
                                        <img src="~/images/blog/v3-1.jpg" alt="Awesome Image">
                                        <div class="published-date">
                                            <h3>21 Ekim</h3>
                                        </div>
                                        <div class="overlay-style-one">
                                            <div class="box">
                                                <div class="content">
                                                    <a href="blog-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="text-holder">
                                        <a href="blog-single.html">
                                            <h3 class="blog-title">Faruk Eczanesi Teknisyen Aranıyor...</h3>
                                        </a>
                                        <div class="text">
                                            <p>These men promptly escaped frotm maximum security stockade to the underground. The Brady Bunch the Brady seds Buncn what do you think, which is that greatest.</p>
                                        </div>
                                        <div class="meta-info clearfix">
                                            <div class="left pull-left">
                                                <ul class="post-info">
                                                    <li>Sahibi <a href="#">Batuhan Özdemir</a></li>
                                                    <li><a href="#">Eczane, Teknisyen</a></li>
                                                </ul>
                                            </div>
                                            <div class="right pull-right">
                                                <button class="thm-btn bg-clr1" type="submit" data-loading-text="Please wait...">İncele</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single latest blog-->
                        <!--Start single latest blog-->
                        <div class="single-blog-post">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="img-holder">
                                        <img src="~/images/blog/v3-1.jpg" alt="Awesome Image">
                                        <div class="published-date">
                                            <h3>21 Ekim</h3>
                                        </div>
                                        <div class="overlay-style-one">
                                            <div class="box">
                                                <div class="content">
                                                    <a href="blog-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="text-holder">
                                        <a href="blog-single.html">
                                            <h3 class="blog-title">Faruk Eczanesi Teknisyen Aranıyor...</h3>
                                        </a>
                                        <div class="text">
                                            <p>These men promptly escaped frotm maximum security stockade to the underground. The Brady Bunch the Brady seds Buncn what do you think, which is that greatest.</p>
                                        </div>
                                        <div class="meta-info clearfix">
                                            <div class="left pull-left">
                                                <ul class="post-info">
                                                    <li>Sahibi <a href="#">Batuhan Özdemir</a></li>
                                                    <li><a href="#">Eczane, Teknisyen</a></li>
                                                </ul>
                                            </div>
                                            <div class="right pull-right">
                                                <button class="thm-btn bg-clr1" type="submit" data-loading-text="Please wait...">İncele</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single latest blog-->
                        <!--Start single latest blog-->
                        <div class="single-blog-post">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="img-holder">
                                        <img src="~/images/blog/v3-1.jpg" alt="Awesome Image">
                                        <div class="published-date">
                                            <h3>21 Ekim</h3>
                                        </div>
                                        <div class="overlay-style-one">
                                            <div class="box">
                                                <div class="content">
                                                    <a href="blog-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="text-holder">
                                        <a href="blog-single.html">
                                            <h3 class="blog-title">Faruk Eczanesi Teknisyen Aranıyor...</h3>
                                        </a>
                                        <div class="text">
                                            <p>These men promptly escaped frotm maximum security stockade to the underground. The Brady Bunch the Brady seds Buncn what do you think, which is that greatest.</p>
                                        </div>
                                        <div class="meta-info clearfix">
                                            <div class="left pull-left">
                                                <ul class="post-info">
                                                    <li>Sahibi <a href="#">Batuhan Özdemir</a></li>
                                                    <li><a href="#">Eczane, Teknisyen</a></li>
                                                </ul>
                                            </div>
                                            <div class="right pull-right">
                                                <button class="thm-btn bg-clr1" type="submit" data-loading-text="Please wait...">İncele</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single latest blog-->
                        <!--Start single latest blog-->
                        <div class="single-blog-post">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="img-holder">
                                        <img src="~/images/blog/v3-1.jpg" alt="Awesome Image">
                                        <div class="published-date">
                                            <h3>21 Ekim</h3>
                                        </div>
                                        <div class="overlay-style-one">
                                            <div class="box">
                                                <div class="content">
                                                    <a href="blog-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="text-holder">
                                        <a href="blog-single.html">
                                            <h3 class="blog-title">Faruk Eczanesi Teknisyen Aranıyor...</h3>
                                        </a>
                                        <div class="text">
                                            <p>These men promptly escaped frotm maximum security stockade to the underground. The Brady Bunch the Brady seds Buncn what do you think, which is that greatest.</p>
                                        </div>
                                        <div class="meta-info clearfix">
                                            <div class="left pull-left">
                                                <ul class="post-info">
                                                    <li>Sahibi <a href="#">Batuhan Özdemir</a></li>
                                                    <li><a href="#">Eczane, Teknisyen</a></li>
                                                </ul>
                                            </div>
                                            <div class="right pull-right">
                                                <button class="thm-btn bg-clr1" type="submit" data-loading-text="Please wait...">İncele</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single latest blog-->
                        <!--Start single latest blog-->
                        <div class="single-blog-post">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="img-holder">
                                        <img src="~/images/blog/v3-1.jpg" alt="Awesome Image">
                                        <div class="published-date">
                                            <h3>21 Ekim</h3>
                                        </div>
                                        <div class="overlay-style-one">
                                            <div class="box">
                                                <div class="content">
                                                    <a href="blog-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="text-holder">
                                        <a href="blog-single.html">
                                            <h3 class="blog-title">Faruk Eczanesi Teknisyen Aranıyor...</h3>
                                        </a>
                                        <div class="text">
                                            <p>These men promptly escaped frotm maximum security stockade to the underground. The Brady Bunch the Brady seds Buncn what do you think, which is that greatest.</p>
                                        </div>
                                        <div class="meta-info clearfix">
                                            <div class="left pull-left">
                                                <ul class="post-info">
                                                    <li>Sahibi <a href="#">Batuhan Özdemir</a></li>
                                                    <li><a href="#">Eczane, Teknisyen</a></li>
                                                </ul>
                                            </div>
                                            <div class="right pull-right">
                                                <button class="thm-btn bg-clr1" type="submit" data-loading-text="Please wait...">İncele</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single latest blog-->
                        <!--Start single latest blog-->
                        <div class="single-blog-post">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="img-holder">
                                        <img src="~/images/blog/v3-1.jpg" alt="Awesome Image">
                                        <div class="published-date">
                                            <h3>21 Ekim</h3>
                                        </div>
                                        <div class="overlay-style-one">
                                            <div class="box">
                                                <div class="content">
                                                    <a href="blog-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="text-holder">
                                        <a href="blog-single.html">
                                            <h3 class="blog-title">Faruk Eczanesi Teknisyen Aranıyor...</h3>
                                        </a>
                                        <div class="text">
                                            <p>These men promptly escaped frotm maximum security stockade to the underground. The Brady Bunch the Brady seds Buncn what do you think, which is that greatest.</p>
                                        </div>
                                        <div class="meta-info clearfix">
                                            <div class="left pull-left">
                                                <ul class="post-info">
                                                    <li>Sahibi <a href="#">Batuhan Özdemir</a></li>
                                                    <li><a href="#">Eczane, Teknisyen</a></li>
                                                </ul>
                                            </div>
                                            <div class="right pull-right">
                                                <button class="thm-btn bg-clr1" type="submit" data-loading-text="Please wait...">İncele</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single latest blog-->
                    </div>
                    <!--Start post pagination-->
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="post-pagination text-center">
                                <li><a href="#"><i class="fa fa-caret-left" aria-hidden="true"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--End post pagination-->
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12">
                <div class="sidebar-wrapper">
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <form class="search-form" action="#">
                            <input placeholder="Search..." type="text">
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Categories</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="categories clearfix">
                            <li>
                                <a href="#">
                                    Eczane
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Teknisyen
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Healthcare Companies
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Industrial Goods & Services
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Filter By Price</h3>
                            <span class="border"></span>
                        </div>
                        <div class="price-ranger">
                            <div id="slider-range"></div>
                            <div class="ranger-min-max-block">
                                <input class="thm-btn bg-clr1" type="submit" value="Filter">
                                <span>Price:</span>
                                <input type="text" readonly class="min">
                                <span>-</span>
                                <input type="text" readonly class="max">
                            </div>
                        </div>

                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Latest Products</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="latest-product">
                            <li>
                                <div class="img-holder">
                                    <img src="~/images/shop/product-thumb-1.jpg" alt="Awesome Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <a href="#">
                                        <h4>The Innovators</h4>
                                    </a>
                                    <h5>$34.99</h5>
                                    <div class="review-box">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img-holder">
                                    <img src="~/images/shop/product-thumb-2.jpg" alt="Awesome Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <a href="#">
                                        <h4>Good to Great</h4>
                                    </a>
                                    <h5>$24.00</h5>
                                    <div class="review-box">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img-holder">
                                    <img src="~/images/shop/product-thumb-3.jpg" alt="Awesome Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <a href="#">
                                        <h4>Built to Last</h4>
                                    </a>
                                    <h5>$24.99</h5>
                                    <div class="review-box">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Product Tags</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="product-tag">
                            <li><a href="#">Idea</a></li>
                            <li><a href="#">Finance</a></li>
                            <li><a href="#">Experts</a></li>
                            <li><a href="#">Marketing</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Tips</a></li>
                            <li><a href="#">Growth</a></li>
                            <li><a href="#">Wealth</a></li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                </div>
            </div>
            <!--End Sidebar Wrapper-->

        </div>
    </div>
</section> 
<!--End blog area-->   