@media screen and (min-width: 769px) {
    .dropend:hover>.dropdown-menu {
      position: absolute;
      top: 0;
      left: 100%;
    }
  
    .dropend .dropdown-toggle {
      margin-left: 0.5em;
    }
  }