* {
  font-family: Poppins, sans-serif;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

:root {
  --farmared: #DF2343;
  --footerhover: #14284b;
  --white: #fff;
  --black: #000;
  --categori:#333;
}

/*navbar start*/
/*kayan yazı start*/
#scroll-container {
  overflow: hidden;
  white-space: nowrap;
  /*bard adamdır*/
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  animation: my-animation 15s linear infinite;
  width: 600px;
  /************************************************** burayı değiştir ortadaki kayan yazıyı değiştirince**************************************************************************/
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/*kayan yazi end*/
header .city_top_social ul li a {
  color: var(--white);
  border-color: var(--farmared);
  background-color: var(--farmared);
}

/*navbar start*/

.navbg {
  background-color: var(--farmared);
}

.navpadd {
  padding: 30px 0 !important;
}

nav ul li a {
  padding: 0 10px;
}

.nav-item {
  margin-right: 10px;
  font-size: 18px !important;
  text-transform: capitalize;
}

.dropdown:hover>.dropdown-menu,
.dropend:hover>.dropdown-menu {
  display: block;

}

.navdcolor li {
  margin-bottom: 0 !important;
  min-width: 200px;
}

.navdcolor li :hover {
  background-color: var(--farmared);
}

.navdcolor li a:hover {
  color: white !important;
  padding-left: 35px !important;
}

.navdcolor li a {
  padding-left: 30px !important;
  color: #000 !important;
}

.navdcolor ul li a:before {
  color: black !important;
  padding-top: 3px;
  padding-left: 10px;
}

.navdcolor ul li a:hover::before {
  color: white !important;
  padding-left: 13px !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown .dropdown-menu {
  transition: all 0.3s ease-in-out;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown:hover .dropdown-menu {
  max-height: 300px;
  opacity: 1;
}


/*searchbox start*/
.searchborder {
  border-left: 1px solid rgb(255, 255, 255);
  position: absolute;
  top: -47px;
  left: -20px;
  height: 117px;
  box-shadow: 0 1px 3px black;
}

.searchform input {
  height: auto;
  font-size: 15px;
  color: #fff !important;
  background: none;
  border: none;
  padding: 0;
  border: none;
  outline: none;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;

}

.searchform input::placeholder {
  color: white;
}

.searchform input:focus {
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

.searchprofile:hover {
  color: var(--footerhover);
  transition: all 0.3s ease-in-out;
}

/*searchbox end*/
/*sticky start*/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
  transition: all 0.3s ease-in-out;
}

.sticky .navpadd {
  padding: 20px 0 !important;
}

.sticky .searchborder {
  height: 109px !important;
}

/*sticky end*/
/*navbar end*/

/*content start*/
/*button start*/
.cssbuttons-io-button {
  background: var(--farmared);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em var(--farmared);
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: var(--farmared);
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

/*button end*/

.categorib .categoriehead div a {
  text-decoration: none;
  color: var(--farmared);
}

.categorib .categoriehead div {
  text-align: center;
  border-right: 2px solid var(--farmared);
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

.categorib .categoriehead div:last-child {
  border: none;
}


.regishead {
  background: linear-gradient(-45deg, #d25050, var(--farmared));
}

.regishead h1 {
  font-size: 50px;
  color: var(--white);
  padding: 10px 0;
}

.contentbor {
  border: 3px solid black;
  border-color: var(--farmared);
}

.memhead {
  font-size: 20px;
  font-weight: 600;
}

.boxes {
  padding: 20px;
}

.borrade {
  border-radius: 50%;
  padding: 0 20px;
  font-size: 25px;
  text-transform: uppercase;
  background-color: var(--farmared);
  border-color: var(--farmared);
  color: white;
  cursor: pointer;
}

.premcon {
  max-width: 1000px;
}

.premcard {
  position: relative;
  min-width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.premcard:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.card_red,
.card_red .title .fa {
  background: linear-gradient(-45deg, #ffec61, #f321d7);
}

.card_violet,
.card_violet .title .fa {
  background: linear-gradient(-45deg, #f403d1, #64b5f6);
}

.card_three,
.card_three .title .fa {
  background: linear-gradient(-45deg, #d25050, var(--farmared));
  /*background: linear-gradient(-45deg, #24ff72, #9a4eff);  ---#21b75f  #31386e*/
}

.premcard:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  transform: skewY(-5deg) scale(1.5);
}

.title .fa {
  color: #fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.title h2 {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
}

.price {
  position: relative;
  z-index: 2;
}

.price h4 {
  margin: 0;
  padding: 20px 0;
  color: #fff;
  font-size: 60px;
}

.option {
  position: relative;
  z-index: 2;
}

.option ul {
  margin: 0;
  padding: 0;
}

.option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
}

.option i {
  margin-right: 5px;
}

.premcard a {
  display: block;
  position: relative;
  z-index: 2;
  background-color: #fff;
  width: 150px;
  height: 40px;
  text-align: center;
  margin: 20px auto 0;
  line-height: 40px;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: var(--farmared);
  font-weight: 700;
  text-transform: capitalize;
}


.bizeulas{
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 600;
  border: 2px solid #DF2343;
  color: black;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.bizeulas:hover {
  border-color: #DF2343;
  box-shadow: 0 0 20px rgba(241, 100, 50, 0.8);
}

.bizeulas:active {
  box-shadow: 0 0 10px rgba(9, 117, 241, 0.4);
}

.pagination,
.page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.pagination {
  margin-top: 30px;
  margin-bottom:70px;

}

.btn-nav,
.btn-page {
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  color:var(--farmared)
}

.btn-nav {
  padding: 8px;
}

.btn-nav {
  width: 42px;
  height: 42px;
  border: 1.5px solid var(--farmared);
  color: var(--farmared);
}

.btn-nav:hover,
.btn-page:hover {
  background-color: var(--farmared);
  color: #fff;
}

.btn-page {
  border: none;
  width: 36px;
  height: 36px;
  font-size: 16px;
}

.btn-selected {
  background-color: var(--farmared);
  color: #fff;
}

/**/
.descrp{
  font-size:12px; color:#333;margin-bottom:10px;
}
      .headalt {
        padding: 5px 20px;
    font-size: 13px;
    color: #9d9d9d;
    font-weight: 500;
    border: 1px solid #E4E4E4;
    border-top: none;
    border-radius: 0 0 5px 5px;
      }

      .headdescription {
        border: 1px solid #E4E4E4;
    padding: 15px 20px 10px;
    font-size: 14px;
    color: #9d9d9d;
    font-weight: 500;
      }
      .headdescription div{
        margin-bottom: 5px;
      }

      .uhead {
        font-size: 20px;
        font-weight: 600;
        color:black;
      }

      .dcatboxes img {
        width: 100%;
        object-fit: cover;
      }

      .categoriesbox li {
        color: var(--categori);
        padding-left: 25px;
        background: linear-gradient(to top, #efefef, #f5f5f5);
        border: 1px solid #e5e5e5;
        line-height: 50px;
        text-transform: uppercase;
        font-weight: 600;
      }

      .categoriesboxes a:hover li {
        background: var(--farmared);
        transition: all 0.3s ease-in-out;
        color: White;

      }

      .categoriesbox a {
        text-decoration: none;
      }

      .categoriesbox span {
        margin-left: 5px;
      }

/*content end*/

/*footer start*/
.overlay {
  background-color: var(--farmared);
  opacity: 0.9;
  /*fotoğraf değişirse buradaki opacity'i kıs*/
  padding: 160px 0px 0px;
  position: relative;
  z-index: 2;
  margin-top: -160px;
  /*fotoğraf değişirse bunu değiştir*/
}

.widoverlay {

  background-color: var(--farmared);
  padding: 160px 0px 0px;
  margin-top: -95px;
  background-image: url(images/widget-bgb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.95;
}

.footercon {
  max-width: 1170px !important;
}

.footercon ul {
  margin: 0;
  padding: 0;
}

.widget_text {
  color: var(--white);
}

.footercon li,
header li {
  list-style: none;
}

.widget_text li a {
  text-decoration: none;
  color: var(--white);

}

.widget_title {
  color: #fff;
  margin-bottom: 25px;
  font-weight: 600;
}

.widget_service ul li {
  margin-bottom: 10px;
  list-style: none;
}

.widget_service ul li a {
  transition: all 0.3s ease-in-out;
  display: block;
  padding-left: 20px;
  color: var(--white);
  font-size: 15px;
  position: relative;
  text-decoration: none;
}

.widget_service ul li a:before,
.city_request_link ul li a:before {
  position: absolute;
  content: "\f105";
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-family: FontAwesome;
  color: var(--white);
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

/*footer top boxes start*/
.city_request_list {
  padding: 30px 30px 26px;
  background-color: #fff;
  box-shadow: 0px 4px 10px -5px #393333;
  border-top: 5px solid;
  border-color: var(--farmared);
  position: relative;
  z-index: 3;
}

.city_request_row {
  margin-bottom: 16px;
}

.city_request_row>span {
  float: left;
  font-size: 50px;
  line-height: 50px;
}

.city_request_text {
  overflow: hidden;
  padding: 0px 0px 0px 20px;
}

.city_request_text h4 {
  font-weight: bold;
  margin: 0px 0px;
}

.city_request_link ul li {
  width: 50%;
  margin-bottom: 13px;
}

.city_request_link ul li a {
  color: var(--black);
  text-decoration: none;
}

.city_request_link ul li a:hover {
  padding-left: 25px;
  color: var(--farmared);
  transition: all 0.3s ease-in-out;
}

.city_request_link ul li a:hover::before {
  padding-left: 3px;
  color: var(--farmared);
}

.city_request_link ul li a:before {
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.city_request_link ul li a {
  display: block;
  padding-left: 22px;
  position: relative;
}

/*footer top boxes end*/
.widget_service ul li a:hover {
  padding-left: 25px;
  color: var(--footerhover);
}

.widget_service ul li a:hover::before {
  color: var(--footerhover);
  padding-left: 5px;

}

.widget_text.text2 ul li a span {
  float: right;
}

.widget_wrap {
  padding: 160px 0px 0px;
  margin-top: -95px;
  background-image: url(images/widget-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

/*copyright start*/

.widget_logo img {
  object-fit: cover;
  height: 102px;
  display: block;
  margin: 0 auto;
}

.wcopyright {
  padding: 50px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  margin-top: 34px;
  color: var(--white);
}

.wcopyright p {
  line-height: 102px;
}

.crsocial {
  margin: auto 0 !important;
}

.city_top_social li {
  margin-right: 5px;
}

.city_top_social ul li a {
  display: inline-block;
  height: 36px;
  width: 36px;
  text-align: center;
  line-height: 33px;
  border: 2px solid;
  color: #fff;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
}

.city_top_social ul li a:hover {
  background-color: var(--footerhover);
  border-color: var(--footerhover);
}

/*copyright end*/
/*footer end*/

/*about*/
.aboutdiscription{
  margin-right: 50px;
  margin-bottom:40px;
}
.aboutdiscription h5{
  font-size:18px;
  font-style: italic;
  margin-bottom:18px;
}
.aboutdiscription p{
  font-size:16px;
}
.abouts{
  margin-bottom: 10px;
  padding: 0 100px 40px 0;
  position: relative;
}
.aboutbox{
  width: 100%;
  overflow: hidden;
  position: relative;
}
.aboutbox2{
  position: absolute;
  right: 0;
  bottom: 0;
  border: 20px solid white;
  z-index: 2;
}
.abouthead{
  border-left:4px solid var(--farmared);
  padding-left: 20px;
  margin-bottom: 30px;
}
.abouthead p{
  color: #666;
font-size: 15px;
line-height: 15px;
letter-spacing: 2px;
}
.abouthead h3{
color:var(--farmared);
font-weight: 600;
}
.play-btn {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin-top: -33px;
  z-index: 2;
}
.aboutul {
  list-style: none;
}

.aboutul a {
  text-decoration: none;
  color:var(--footerhover);

}
.aboutul a:hover{
  color: var(--farmared);
}
.aboutul a i{
  margin-right: 25px;
}

.aboutul li {
  color: var(--farmared);
  margin-bottom:15px;
}
.aboutbox2::before{
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #df193a;
  opacity: 0.9;
}
.aboutbg{
  height: 400px; background-color: var(--farmared); position: absolute; width: 100%; margin-top  : -337px; z-index: -9999;
}

#farmaref img{
  height: 75px;
  width: 150px;
}