@{
    ViewData["Title"] = "Hakkımızda";
}

<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(~/images/resources/breadcrumb-bg.jpg);">
    <div class="container text-center">
        <h1>Hakkımızda</h1>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="index.html">Anasayfa</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li>Hakkımızda</li>
            </ul>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->
<!--Start company history area-->
<section class="company-history-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                <div class="company-history-content">
                    <div class="sec-title">
                        <h1>Farma Kariyer ?</h1>
                        <span class="border"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="top-text-box">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="company-history">
                                <!--Start single history-->
                                <div class="single-history">
                                    <div class="year">
                                        <h3>1980</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="inner-box">
                                                <div class="img-holder mar-r-plus35">
                                                    <img src="~/images/company-history/1.jpg" alt="History">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="text-holder mar-l-minus35">
                                                <div class="sec-title">
                                                    <h1>Lorem Ipsum</h1>
                                                    <span class="border"></span>
                                                </div>
                                                <div class="text">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single history-->
                                <!--Start single history-->
                                <div class="single-history">
                                    <div class="year">
                                        <h3>1981</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="inner-box mar-r-minus35">
                                                <div class="text-holder">
                                                    <div class="sec-title">
                                                        <h1>Lorem Ipsum</h1>
                                                        <span class="border"></span>
                                                    </div>
                                                    <div class="text">
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="inner-box">
                                                <div class="img-holder mar-l-plus35">
                                                    <img src="~/images/company-history/2.jpg" alt="History">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single history-->
                                <!--Start single history-->
                                <div class="single-history">
                                    <div class="year">
                                        <h3>1983</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="inner-box">
                                                <div class="img-holder mar-r-plus35">
                                                    <img src="~/images/company-history/3.jpg" alt="History">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="text-holder mar-l-minus35">
                                                <div class="sec-title">
                                                    <h1>Lorem Ipsum</h1>
                                                    <span class="border"></span>
                                                </div>
                                                <div class="text">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single history-->
                                <!--Start single history-->
                                <div class="single-history">
                                    <div class="last-history"></div>
                                    <div class="year">
                                        <h3>1988</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="inner-box mar-r-minus35">
                                                <div class="text-holder">
                                                    <div class="sec-title">
                                                        <h1>Lorem Ipsum</h1>
                                                        <span class="border"></span>
                                                    </div>
                                                    <div class="text">
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="inner-box">
                                                <div class="img-holder mar-l-plus35">
                                                    <img src="~/images/company-history/4.jpg" alt="History">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single history-->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12 pull-left">
                <div class="left-sidebar">
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <ul class="page-link">
                            <li>
                                <a href="@Url.Action("Contact","Home")">
                                    İletişim
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("AboutUs","Home")">
                                    Hakkımızda
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("OurPartners","Home")">
                                    Partnerlerimiz
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Faq","Home")">
                                    Sıkça Sorulan Sorular
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="business-enquiry">
                            <h4>Partnerlik İçin</h4>
                            <p>
                                Ayrıca bize bir <a href="#">E-Mail</a> gönderebilirsiniz, kısa süre içinde sizinle iletişime geçeceğiz veya ücretsiz numaramızı arayabilirsiniz.<br>
                                <a href="#">0 543 648 44 77.</a>
                            </p>
                        </div>
                    </div>
                    <!--End single sidebar-->
                </div>
            </div>

        </div>
    </div>
</section>
<!--End company history area-->