@{
    ViewData["Title"] = "İletişim";
}
<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/sss.png);">
    <div class="container text-center">
        <h1>İletişim</h1>
    </div>
</section>
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="index.html">Anasayfa</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li>İletişim</li>
            </ul>
        </div>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start contact area-->
<section id="contact_referer" class="get-touch-area">
    <div class="container">
        <div class="sec-title text-center">
            <h1>Bizimle İletişime Geçin</h1>
            <span class="border"></span>
            <p>
                İlk ve tek eczaneler arası kariyer platformu FarmaKariyer.
            </p>
        </div>
        <div class="row">
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item hvr-grow-shadow text-center">
                    <div class="icon-holder">
                        <span class="icon-magnifying-glass"></span>
                    </div>
                    <div class="text-holder">
                        <h3>Adres</h3>
                        <span class="border"></span>
                        <p>
                            Adnan Menderes Mah. Rahmi Üstel Cad. No: 68 ABA1
                            İç Kapı No: 1 Merkez / Yalova
                        </p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item hvr-grow-shadow text-center">
                    <div class="icon-holder">
                        <span class="icon-clock-1"></span>
                    </div>
                    <div class="text-holder">
                        <h3>Çalışma Saatleri</h3>
                        <span class="border"></span>
                        <p>Pazartesi-Cuma: 09.00 - 18.00<br>Cumartesi ve Pazar: <a href="#">Kapalı</a></p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item hvr-grow-shadow text-center">
                    <div class="icon-holder">
                        <span class="icon-telephone"></span>
                    </div>
                    <div class="text-holder">
                        <h3>Hızlı iletişim</h3>
                        <span class="border"></span>
                        <p>@*Telefon : 0 (534) 790 19 87<br> *@E-Posta: Info@farmakariyer.net<br>
                        Canlı Destekten Bize Ulaşabilirsiniz.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>
<!--End contact area-->
<!--Start contact form area-->
<section class="contact-form-area">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="contact-form">
                    <form id="contact-form" name="contact_form" class="default-form" action="inc/sendmail.php" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="form_name" value="" placeholder="İsim" required="">
                            </div>
                            <div class="col-md-6">
                                <input type="email" name="form_email" value="" placeholder="E-Mail" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="form_phone" value="" placeholder="Telefon">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="form_subject" value="" placeholder="Konu Başlığı">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea name="form_message" placeholder="Mesajınız..." required=""></textarea>
                            </div>
                        </div>
                        <div class="row" style="display:flex; justify-content:center; padding:0 10px;">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                <button class="thm-btn bg-clr1" type="submit">Bize Ulaş</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            @*<div class="col-md-4">
                <div class="form-right-box text-center">
                    <div class="img-box">
                        <img src="~/images/resources/contact-form-right.png" alt="Awesome Image">
                    </div>
                    <h4>Oğuzhan Gözükara</h4>
                    <span>Farma Kariyer</span>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <div class="border"></div>
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>*@
        </div>
    </div>
</section>