@{
    ViewData["Title"] = "İletişim";
}
<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/sss.png);">
    <div class="container text-center">
        <h1>İletişim</h1>
    </div>
</section>
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="index.html">Anasayfa</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li>İletişim</li>
            </ul>
        </div>
    </div>
</section>  
<!--End breadcrumb area-->
<!--Start contact area-->
<section class="get-touch-area">
    <div class="container">
        <div class="sec-title text-center">
            <h1>Bizimle İletişime Geçin</h1>
            <span class="border"></span>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
        <div class="row">
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item hvr-grow-shadow text-center">
                    <div class="icon-holder">
                        <span class="icon-magnifying-glass"></span>
                    </div>
                    <div class="text-holder">
                        <h3>Adres</h3>
                        <span class="border"></span>
                        <p>Merkez Mah. Şebboy Sok. no:57/12<br> İstanbul, 34450, TR</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item hvr-grow-shadow text-center">
                    <div class="icon-holder">
                        <span class="icon-clock-1"></span>
                    </div>
                    <div class="text-holder">
                        <h3>Çalışma Saatleri</h3>
                        <span class="border"></span>
                        <p>Pazartesiden Cumartesiye: 09.00 - 18.00<br> Pazar: <a href="#">Kapalı</a></p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item hvr-grow-shadow text-center">
                    <div class="icon-holder">
                        <span class="icon-telephone"></span>
                    </div>
                    <div class="text-holder">
                        <h3>Hızlı iletişim</h3>
                        <span class="border"></span>
                        <p>Telefon : 0 212 452 88 99<br> E-Mail: Info@farmakariyer.com</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>
<!--End contact area-->
<!--Start contact form area-->
<section class="contact-form-area">
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <div class="contact-form">
                    <form id="contact-form" name="contact_form" class="default-form" action="inc/sendmail.php" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="form_name" value="" placeholder="İsim" required="">
                            </div>
                            <div class="col-md-6">
                                <input type="email" name="form_email" value="" placeholder="E-Mail" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="form_phone" value="" placeholder="Telefon">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="form_subject" value="" placeholder="Konu Başlığı">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea name="form_message" placeholder="Mesajınız..." required=""></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                <button class="thm-btn bg-clr1" type="submit" data-loading-text="Please wait...">Gönder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-right-box text-center">
                    <div class="img-box">
                        <img src="~/images/resources/contact-form-right.png" alt="Awesome Image">
                    </div>
                    <h4>Oğuzhan Gözükara</h4>
                    <span>Farma Kariyer</span>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <div class="border"></div>
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End contact form area-->
<!--Start Google map area-->
<section class="google-map-area">
    <div class="google-map"
         id="contact-google-map"
         data-map-lat="22.845641"
         data-map-lng="89.540328"
         data-icon-path="~/images/resources/map-marker.png"
         data-map-title="Brooklyn, New York, United Kingdom"
         data-map-zoom="12"
         data-markers='{
         "marker-1" : [22.845641, 89.540328, "<h4>Head Office</h4><p>44/108 Khulna, Bangladesh</p>" ],
         "marker-2" : [22.702921, 90.346597, "<h4>Branch Office</h4><p>44/108 Borisal, Bangladesh</p>" ],
         "marker-3" : [23.163401, 89.218166, "<h4>Branch Office</h4><p>77/99 Jessore Bangladesh</p>" ,"images /resources/map-marker.png"]
         }'>
    </div>
</section>
<!--End Google map area-->     