@{
    ViewData["Title"] = "Sıkça Sorulan Sorular";
}

<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/sss.png);">
    <div class="container text-center">
        <h1 style="font-style:italic;">Sıkça Sorulan Sorular</h1>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="index.html">Anasayfa</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li>Sıkça Sorulan Sorular</li>
            </ul>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->
<!--Start faq content area-->
<section class="faq-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                <div class="content-box">
                    <div class="accordion-box">
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn active">
                                <h4>Farmakariyer.net nedir ?</h4>
                            </div>
                            <div class="accord-content collapsed">
                                <p>Sağlık Sektörü İş İlanları sitesi farmakariyer.net nitelikli eleman, stajyer eczacı, yardımcı eczacılara istihdam sağlarken, eczanelerin de nitelikli adaylara ulaşmasına yardımcı olur. Adayların ve eczanelerin en hızlı şekilde istihdamda bulunmasını amaçlar.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn">
                                <h4>Farmakariyer.net'i ne için kullanabilirim ?</h4>
                            </div>
                            <div class="accord-content">
                                <p>
                                    Sadece farmakariyer.net'te olan birçok özellik ile iş arayanlar kariyer hedefine, eleman arayanlar ise aradığı elemana ulaşmak için yakınımdaki işler ve adaylar, video özgeçmiş, akıllı sıralama gibi birçok özelliği kullanabiliyor.
                                </p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn">
                                <h4>Farmakariyer.net'e nasıl üye olabilirim?</h4>
                            </div>
                            <div class="accord-content">
                                <p>Farmakariyer.net'e üye olmak için ana sayfadaki "Üye Ol" butonuna tıklayarak gerekli bilgileri doldurmanız yeterlidir. Üyelik ücretsizdir.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn">
                                <h4>CV oluşturmak için hangi bilgileri girmem gerekiyor?</h4>
                            </div>
                            <div class="accord-content">
                                <p>CV oluştururken kişisel bilgileriniz, eğitim geçmişi, deneyimleriniz, yetenekleriniz ve iletişim bilgileriniz gibi bilgileri girmeniz gerekmektedir.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn">
                                <h4> Bir ilana nasıl başvuruda bulunabilirim?</h4>
                            </div>
                            <div class="accord-content">
                                <p>Farmakariyer.net üzerinden ilanlara başvuruda bulunmak için ilan detay sayfasında yer alan "Başvur" butonuna tıklayarak öncesinde oluşturduğunuz CV'nizi göndererek başvurabilirsiniz.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn">
                                <h4>Farmakariyer.net'te yayınlanan ilanlar güvenilir mi?</h4>
                            </div>
                            <div class="accord-content">
                                <p>Evet, Farmakariyer.net'te yayınlanan ilanlar doğrulanmış ve güvenilir ilanlardır. Platformumuz ilanları düzenli olarak kontrol eder ve doğruluğunu sağlar.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn">
                                <h4>Farmakariyer.net üyelik ücreti alıyor mu?</h4>
                            </div>
                            <div class="accord-content">
                                <p>Hayır, Farmakariyer.net üyelik ücreti talep etmez. Üyelik tamamen ücretsizdir.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn">
                                <h4>Farmakariyer.net'te hangi pozisyonlara başvuru yapabilirim?</h4>
                            </div>
                            <div class="accord-content">
                                <p>Farmakariyer.net'te eczane alanında her türlü pozisyona başvuruda bulunabilirsiniz, örneğin eczane teknisyeni, eczane stajı, dermokozmetik elemanı.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn">
                                <h4>Farmakariyer.net ile iletişime geçmek için nereyi arayabilirim?</h4>
                            </div>
                            <div class="accord-content">
                                <p>Farmakariyer.net ile iletişime geçmek için "İletişim" sayfasındaki iletişim bilgilerini kullanarak bizimle e-posta veya telefon aracılığıyla iletişime geçebilirsiniz veya canlı destek hattına bağlanabilirsiniz.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                    </div>
                </div>
                <div class="faq-form">
                    <div class="sec-title">
                        <h3>Cevap Bulamadıysanız Bize Ulaşın</h3>
                        <span class="border"></span>
                    </div>
                    <form id="faq-form" action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="website" value="" placeholder="Başlık">
                                <input type="text" name="form_name" value="" placeholder="Adınız*" required="">
                                <input type="email" name="form_email" value="" placeholder="E-Posta Adresiniz*" required="">  
                            </div>
                            <div class="col-md-6">
                                <textarea name="question" placeholder="Mesajınız..." required=""></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="thm-btn bg-clr1" type="submit">Gönder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12 pull-left">
                <div class="left-sidebar">
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <ul class="page-link">
                            <li>
                                <a href="@Url.Action("Contact","Home")">
                                    İletişim
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("AboutUs","Home")">
                                    Hakkımızda
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                           @*  <li>
                                <a href="@Url.Action("OurPartners","Home")">
                                    Partnerlerimiz
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li> *@
                            <li>
                                <a href="@Url.Action("Faq","Home")">
                                    Sıkça Sorulan Sorular
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End faq content area-->