@{
    ViewData["Title"] = "Anasayfa";
}

<!--content start-->
<section>

    <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item"><img src="~/images/widget-bg.jpg" height="685px;"></div>
        <div class="item"><img src="~/images/widget-bg.jpg" height="685px;"></div>
    </div>
    <div class="container mb-4 mt-5">
        <div class="col-12">
            <div class="categorib">
                <div class="row d-flex justify-content-center">
                    <div class="d-flex justify-content-center categoriehead" style="max-width: 1000px;">
                        <div class="col-3"><a href="#">Eczane</a></div>
                        <div class="col-3"><a href="#">TEKNİSYEN</a></div>
                        <div class="col-3"><a href="#">Staj</a></div>
                        <div class="col-3"><a href="#">Ruhsat</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style=" border-bottom:3px solid var(--farmared); width: 100%; position: absolute;"></div>
    <div class="container mt-5">
        <div class="col-md-12 mt-2">
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex flex-wrap">
                        <div class="dcatboxes">
                            <div class="col-12">
                                <img src="images/boxex3.jpg" alt="">
                            </div>
                            <div class="col-12">
                                <div class="headdescription">
                                    <div class="uhead">Başlık</div>
                                    <div style="font-size:12px; color:#333">
                                        Açıklama Açıklama Açıklama Açıklama Açıklama Açıklama
                                        Açıklama Açıklama
                                    </div>
                                    <div>İstanbul</div>
                                </div>
                                <div class="headalt">
                                    <div style="float:left; width: 50%;">
                                        <div><i class="fa-solid fa-phone" style="margin-right: 5px;"></i>212 999 11 11</div>
                                        <div><i class="fa-solid fa-envelope" style="margin-right: 5px;"></i>farma@kariyer.net</div>
                                    </div>
                                    <div style="float:right; width: 50%;">
                                        <div class="d-flex justify-content-end">
                                            <button class="bizeulas">
                                                Bize Ulaş
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="d-flex flex-wrap">
                        <div class="dcatboxes">
                            <div class="col-12">
                                <img src="~/images/boxex1.jpg" alt="">
                            </div>
                            <div class="col-12">
                                <div class="headdescription">
                                    <div class="uhead">Başlık</div>
                                    <div style="font-size:12px; color:#333">
                                        Açıklama Açıklama Açıklama Açıklama Açıklama Açıklama
                                        Açıklama Açıklama
                                    </div>
                                    <div>İstanbul</div>
                                </div>
                                <div class="headalt">
                                    <div style="float:left; width: 50%;">
                                        <div><i class="fa-solid fa-phone" style="margin-right: 5px;"></i>212 999 11 11</div>
                                        <div><i class="fa-solid fa-envelope" style="margin-right: 5px;"></i>farma@kariyer.net</div>
                                    </div>
                                    <div style="float:right; width: 50%;">
                                        <div class="d-flex justify-content-end">
                                            <button class="bizeulas">
                                                Bize Ulaş
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="d-flex flex-wrap">
                        <div class="dcatboxes">
                            <div class="col-12">
                                <img src="~/images/boxex2.jpg" alt="">
                            </div>
                            <div class="col-12">
                                <div class="headdescription">
                                    <div class="uhead">Başlık</div>
                                    <div style="font-size:12px; color:#333">
                                        Açıklama Açıklama Açıklama Açıklama Açıklama Açıklama
                                        Açıklama Açıklama
                                    </div>
                                    <div>İstanbul</div>
                                </div>
                                <div class="headalt">
                                    <div style="float:left; width: 50%;">
                                        <div><i class="fa-solid fa-phone" style="margin-right: 5px;"></i>212 999 11 11</div>
                                        <div><i class="fa-solid fa-envelope" style="margin-right: 5px;"></i>farma@kariyer.net</div>
                                    </div>
                                    <div style="float:right; width: 50%;">
                                        <div class="d-flex justify-content-end">
                                            <button class="bizeulas">
                                                Bize Ulaş
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="d-flex flex-wrap">
                        <div class="dcatboxes">
                            <div class="col-12">
                                <img src="~/images/boxex4.jpg" alt="">
                            </div>
                            <div class="col-12">
                                <div class="headdescription">
                                    <div class="uhead">Başlık</div>
                                    <div style="font-size:12px; color:#333">
                                        Açıklama Açıklama Açıklama Açıklama Açıklama Açıklama
                                        Açıklama Açıklama
                                    </div>
                                    <div>İstanbul</div>
                                </div>
                                <div class="headalt">
                                    <div style="float:left; width: 50%;">
                                        <div><i class="fa-solid fa-phone" style="margin-right: 5px;"></i>212 999 11 11</div>
                                        <div><i class="fa-solid fa-envelope" style="margin-right: 5px;"></i>farma@kariyer.net</div>
                                    </div>
                                    <div style="float:right; width: 50%;">
                                        <div class="d-flex justify-content-end">
                                            <button class="bizeulas">
                                                Bize Ulaş
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="d-flex flex-wrap">
                        <div class="dcatboxes">
                            <div class="col-12">
                                <img src="~/images/boxex3.jpg" alt="">
                            </div>
                            <div class="col-12">
                                <div class="headdescription">
                                    <div class="uhead">Başlık</div>
                                    <div style="font-size:12px; color:#333">
                                        Açıklama Açıklama Açıklama Açıklama Açıklama Açıklama
                                        Açıklama Açıklama
                                    </div>
                                    <div>İstanbul</div>
                                </div>
                                <div class="headalt">
                                    <div style="float:left; width: 50%;">
                                        <div><i class="fa-solid fa-phone" style="margin-right: 5px;"></i>212 999 11 11</div>
                                        <div><i class="fa-solid fa-envelope" style="margin-right: 5px;"></i>farma@kariyer.net</div>
                                    </div>
                                    <div style="float:right; width: 50%;">
                                        <div class="d-flex justify-content-end">
                                            <button class="bizeulas">
                                                Bize Ulaş
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="d-flex flex-wrap">
                        <div class="dcatboxes">
                            <div class="col-12">
                                <img src="~/images/boxex1.jpg" alt="">
                            </div>
                            <div class="col-12">
                                <div class="headdescription">
                                    <div class="uhead">Başlık</div>
                                    <div style="font-size:12px; color:#333">
                                        Açıklama Açıklama Açıklama Açıklama Açıklama Açıklama
                                        Açıklama Açıklama
                                    </div>
                                    <div>İstanbul</div>
                                </div>
                                <div class="headalt">
                                    <div style="float:left; width: 50%;">
                                        <div><i class="fa-solid fa-phone" style="margin-right: 5px;"></i>212 999 11 11</div>
                                        <div><i class="fa-solid fa-envelope" style="margin-right: 5px;"></i>farma@kariyer.net</div>
                                    </div>
                                    <div style="float:right; width: 50%;">
                                        <div class="d-flex justify-content-end">
                                            <button class="bizeulas">
                                                Bize Ulaş
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="d-flex flex-wrap">
                        <div class="dcatboxes">
                            <div class="col-12">
                                <img src="~/images/boxex2.jpg" alt="">
                            </div>
                            <div class="col-12">
                                <div class="headdescription">
                                    <div class="uhead">Başlık</div>
                                    <div style="font-size:12px; color:#333">
                                        Açıklama Açıklama Açıklama Açıklama Açıklama Açıklama
                                        Açıklama Açıklama
                                    </div>
                                    <div>İstanbul</div>
                                </div>
                                <div class="headalt">
                                    <div style="float:left; width: 50%;">
                                        <div><i class="fa-solid fa-phone" style="margin-right: 5px;"></i>212 999 11 11</div>
                                        <div><i class="fa-solid fa-envelope" style="margin-right: 5px;"></i>farma@kariyer.net</div>
                                    </div>
                                    <div style="float:right; width: 50%;">
                                        <div class="d-flex justify-content-end">
                                            <button class="bizeulas">
                                                Bize Ulaş
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="d-flex flex-wrap">
                        <div class="dcatboxes">
                            <div class="col-12">
                                <img src="~/images/boxex1.jpg" alt="">
                            </div>
                            <div class="col-12">
                                <div class="headdescription">
                                    <div class="uhead">Başlık</div>
                                    <div style="font-size:12px; color:#333">
                                        Açıklama Açıklama Açıklama Açıklama Açıklama Açıklama
                                        Açıklama Açıklama
                                    </div>
                                    <div>İstanbul</div>
                                </div>
                                <div class="headalt">
                                    <div style="float:left; width: 50%;">
                                        <div><i class="fa-solid fa-phone" style="margin-right: 5px;"></i>212 999 11 11</div>
                                        <div><i class="fa-solid fa-envelope" style="margin-right: 5px;"></i>farma@kariyer.net</div>
                                    </div>
                                    <div style="float:right; width: 50%;">
                                        <div class="d-flex justify-content-end">
                                            <button class="bizeulas">
                                                Bize Ulaş
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="d-flex flex-wrap">
                        <div class="dcatboxes">
                            <div class="col-12">
                                <img src="~/images/boxex4.jpg" alt="">
                            </div>
                            <div class="col-12">
                                <div class="headdescription">
                                    <div class="uhead">Başlık</div>
                                    <div style="font-size:12px; color:#333">
                                        Açıklama Açıklama Açıklama Açıklama Açıklama Açıklama
                                        Açıklama Açıklama
                                    </div>
                                    <div>İstanbul</div>
                                </div>
                                <div class="headalt">
                                    <div style="float:left; width: 50%;">
                                        <div><i class="fa-solid fa-phone" style="margin-right: 5px;"></i>212 999 11 11</div>
                                        <div><i class="fa-solid fa-envelope" style="margin-right: 5px;"></i>farma@kariyer.net</div>
                                    </div>
                                    <div style="float:right; width: 50%;">
                                        <div class="d-flex justify-content-end">
                                            <button class="bizeulas">
                                                Bize Ulaş
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container justify-content-center d-flex mt-5">
        <div class="pagination">
            <button class="btn-nav left-btn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="left-icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                </svg>
            </button>
            <div class="page-numbers">
                <button class="btn-page">1</button>
                <button class="btn-page">2</button>
                <button class="btn-page btn-selected">3</button>
                <button class="btn-page">4</button>
                <button class="btn-page">5</button>
                <button class="btn-page">6</button>
                <span class="dots">...</span>
                <button class="btn-page">23</button>
            </div>
            <button class="btn-nav right-btn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="right-icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                </svg>
            </button>
        </div>
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="container mt-5">
        <div class="contentbor" style="background-color: white;">
            <div class="m-3">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="abouts">
                            <div class="aboutbox">
                                <img src="~/images/about-fig.jpg" alt="">
                            </div>
                            <div class="aboutbox2">
                                <img src="~/images/about_video.jpg" alt="">
                                <a href="#" class="play-btn">
                                    <i class="fa-regular fa-circle-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="abouthead">
                            <p>Hoşgeldiniz</p>
                            <h3>FarmaKariyer</h3>
                        </div>
                        <div class="aboutdiscription">
                            <h5>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsam, magni harum quae a
                                molestias minus.
                            </h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Facere maiores saepe consequuntur quae sit iusto ex consequatur quis illo,
                                eius doloribus nam adipisci aliquid enim rem fugit eaque accusantium. Quidem.
                                eius doloribus nam adipisci aliquid enim rem fugit eaque accusantium. Quidem.
                            </p>
                        </div>
                        <ul class="aboutul">
                            <li><a href="#"><i class="fa-solid fa-star"></i> <span>farma açıklama</span></a></li>
                            <li><a href="#"><i class="fa-solid fa-star"></i> <span>farma açıklama</span></a></li>
                            <li><a href="#"><i class="fa-solid fa-star"></i> <span>farma açıklama</span></a></li>
                            <li><a href="#"><i class="fa-solid fa-star"></i> <span>farma açıklama</span></a></li>
                            <li><a href="#"><i class="fa-solid fa-star"></i> <span>farma açıklama</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aboutbg">
    </div>
    <div class="container">
        <div class="d-flex justify-content-center" style="position: relative; z-index: 9999;">
            <div style="
      background-image: url(images/bg.png); height: 252px;
      width: 1059px;
      background-repeat: no-repeat;">
                <div style="
        width: 223px;
        height: 223px;
        position: absolute;
        border-radius: 50%;
        top: 2.9%;
        left: 42.0%;
        border: 4px solid white;">
                    <img src="~/images/logo1.png" style="
        position: absolute;
        top: 30%;
        left:11%;
        width: 175px;" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="regishead text-center mb-5">
        <h1>Ücretlendirme</h1>
    </div>
</section>
<section style="margin-bottom:75px;">
    <div class="container-fluid">
        <div class="container premcon">
            <div class="col-lg-12">
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="premcard card_three text-center">
                        <div class="title">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            <h2>Aylık</h2>
                        </div>
                        <div class="price">
                            <h4><sup>$</sup>10</h4>
                        </div>
                        <div class="option">
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Şirket İlanı</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>Konum Bilgisi</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>Hizmetlerinizin Sunumu</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>İletişim ve Bilgi Paylaşımı</li>
                            </ul>
                        </div>
                        <a href="#">Satın Al</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="premcard card_three text-center">
                        <div class="title">
                            <i class="fa fa-plane" aria-hidden="true"></i>
                            <h2>YILLIK</h2>
                        </div>
                        <div class="price">
                            <h4><sup>$</sup>100</h4>
                        </div>
                        <div class="option">
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Şirket İlanı</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>Konum Bilgisi</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>Hizmetlerinizin Sunumu</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>İletişim ve Bilgi Paylaşımı</li>
                            </ul>
                        </div>
                        <a href="#">Satın Al</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="premcard card_three text-center">
                        <div class="title">
                            <i class="fa fa-rocket" aria-hidden="true"></i>
                            <h2>3 YILLIK</h2>
                        </div>
                        <div class="price">
                            <h4><sup>$</sup>300</h4>
                        </div>
                        <div class="option">
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Şirket İlanı</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>Konum Bilgisi</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>Hizmetlerinizin Sunumu</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>İletişim ve Bilgi Paylaşımı</li>
                            </ul>
                        </div>
                        <a href="#">Satın Al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container mt-5">
    <div class="text-center mb-5">
        <h3>
            Çalıştığımız Şirketler
        </h3>
    </div>
    <div class="owl-carousel owlim clod" id="farmaref">
        <div class="item"><img src="~/slider-images/abbott.jpg"></div>
        <div class="item"><img src="~/slider-images/allergan.jpg"></div>
        <div class="item"><img src="~/slider-images/amgen.jpg"></div>
        <div class="item"><img src="~/slider-images/astellas.jpg"></div>
        <div class="item"><img src="~/slider-images/astrazeneca.jpg"></div>
        <div class="item"><img src="~/slider-images/bauschlomb.jpg"></div>
        <div class="item"><img src="~/slider-images/bayer.jpg"></div>
        <div class="item"><img src="~/slider-images/boehringer.jpg"></div>
        <div class="item"><img src="~/slider-images/gsk.jpg"></div>
        <div class="item"><img src="~/slider-images/johnson.jpg"></div>
        <div class="item"><img src="~/slider-images/msd.jpg"></div>
        <div class="item"><img src="~/slider-images/nestle.jpg"></div>
        <div class="item"><img src="~/slider-images/novartis.jpg"></div>
        <div class="item"><img src="~/slider-images/novonordisk.jpg"></div>
        <div class="item"><img src="~/slider-images/nutricia.jpg"></div>
        <div class="item"><img src="~/slider-images/pfizer.jpg"></div>
        <div class="item"><img src="~/slider-images/sanofi.jpg"></div>
        <div class="item"><img src="~/slider-images/takeda.jpg"></div>

    </div>
</div>
<!--contaend end-->