@{
    ViewData["Title"] = "Anasayfa";
}

<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            <li data-transition="slidingoverlayleft">
                <img src="images/banner1.png" alt="" width="1920" height="550" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="130"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="700">
                    <div class="slide-content-box">
                        <h1>Right place to <br>begin your business </h1>
                        <p>With over 10 years of experience helping businesses to find<br>comprehensive solutions.</p>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="358"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2300">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn bg-clr1" href="#">Meet Experts</a>
                        </div>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="182"
                     data-y="top" data-voffset="358"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2600">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn bg-clr2" href="#">Contact Us</a>
                        </div>
                    </div>
                </div>
            </li>
            <li data-transition="fade">
                <img src="images/banner2.png" alt="" width="1920" height="550" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption tp-resizeme"
                     data-x="center" data-hoffset="0"
                     data-y="center" data-voffset="-47"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-start="500">
                    <div class="slide-content-box middle-slide">
                        <h1>Growth doesn’t<br>come without hard work</h1>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="center" data-hoffset="0"
                     data-y="center" data-voffset="75"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2300">
                    <div class="slide-content-box middle-slide">
                        <div class="button">
                            <a href="#">Work With us today</a>
                        </div>
                    </div>
                </div>
            </li>
            <li data-transition="slidingoverlayright">
                <img src="~/images/banner3.png" alt="" width="1920" height="550" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="130"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="700">
                    <div class="slide-content-box">
                        <h1>We help businesses<br>innovate and grow.</h1>
                        <p>With over 10 years of experience helping businesses to find <br>comprehensive solutions.</p>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="358"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2300">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn bg-clr1" href="#">Our Company</a>
                        </div>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="182"
                     data-y="top" data-voffset="358"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2600">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn bg-clr2" href="#">Contact Us</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="latest-project-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="project-filter post-filter pull-left">
                    <li class="active" data-filter=".filter-item"><span>Genel Menü</span></li>
                    <li data-filter=".consulting"><span>Eczane</span></li>
                    <li data-filter=".finance"><span>Teknisyen</span></li>
                    <li data-filter=".marketing"><span>Staj</span></li>
                    <li data-filter=".growth"><span>Ruhsat</span></li>
                </ul>
                <div class="more-project pull-right">
                    <a href="project.html">More Projects<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="row project-content masonary-layout filter-layout">
            <!--Start single project-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item consulting growth">
                <div class="single-project text-center">
                    <div class="outer-img-box">
                        <div class="img-holder">
                            <img src="images/project/lat-pro-1.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <div class="icon-holder">
                                            <a href="images/project/lat-pro-1.jpg" data-rel="prettyPhoto" title="Assurance Project"><i class="fa fa-camera"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title-holder">
                        <a href="project-single.html">
                            <h5>Consumer Products</h5>
                        </a>
                    </div>
                </div>
            </div>
            <!--End single project-->
            <!--Start single project-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item growth marketing">
                <div class="single-project text-center">
                    <div class="outer-img-box">
                        <div class="img-holder">
                            <img src="images/project/lat-pro-2.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <div class="icon-holder">
                                            <a href="images/project/lat-pro-2.jpg" data-rel="prettyPhoto" title="Assurance Project"><i class="fa fa-camera"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title-holder">
                        <a href="project-single.html">
                            <h5>Financial Income</h5>
                        </a>
                    </div>
                </div>
            </div>
            <!--End single project-->
            <!--Start single project-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item consulting finance marketing">
                <div class="single-project text-center">
                    <div class="outer-img-box">
                        <div class="img-holder">
                            <img src="images/project/lat-pro-3.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <div class="icon-holder">
                                            <a href="images/project/lat-pro-3.jpg" data-rel="prettyPhoto" title="Assurance Project"><i class="fa fa-camera"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title-holder">
                        <a href="project-single.html">
                            <h5>Business Growth</h5>
                        </a>
                    </div>
                </div>
            </div>
            <!--End single project-->
            <!--Start single project-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item consulting marketing finance">
                <div class="single-project text-center">
                    <div class="outer-img-box">
                        <div class="img-holder">
                            <img src="images/project/lat-pro-4.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <div class="icon-holder">
                                            <a href="images/project/lat-pro-4.jpg" data-rel="prettyPhoto" title="Assurance Project"><i class="fa fa-camera"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title-holder">
                        <a href="project-single.html">
                            <h5>Strategy & Development</h5>
                        </a>
                    </div>
                </div>
            </div>
            <!--End single project-->
            <!--Start single project-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item consulting growth marketing">
                <div class="single-project text-center">
                    <div class="outer-img-box">
                        <div class="img-holder">
                            <img src="images/project/lat-pro-5.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <div class="icon-holder">
                                            <a href="images/project/lat-pro-5.jpg" data-rel="prettyPhoto" title="Assurance Project"><i class="fa fa-camera"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title-holder">
                        <a href="project-single.html">
                            <h5>International Meet</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item consulting finance">
                <div class="single-project text-center">
                    <div class="outer-img-box">
                        <div class="img-holder">
                            <img src="images/project/lat-pro-6.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <div class="icon-holder">
                                            <a href="images/project/lat-pro-6.jpg" data-rel="prettyPhoto" title="Assurance Project"><i class="fa fa-camera"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title-holder">
                        <a href="project-single.html">
                            <h5>Employees Skills</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fact-counter-area" style="background-image:url(images/resources/fact-counter-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <h1><span class="timer" data-from="1" data-to="2456" data-speed="5000" data-refresh-interval="50">2456</span></h1>
                    <span class="border"></span>
                    <h3>Projects Completed</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <h1><span class="timer" data-from="1" data-to="146" data-speed="5000" data-refresh-interval="50">146</span><i class="fa fa-plus" aria-hidden="true"></i></h1>
                    <span class="border"></span>
                    <h3>Expert Technicians</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <h1><span class="timer" data-from="1" data-to="853" data-speed="5000" data-refresh-interval="50">853</span><i class="fa fa-plus" aria-hidden="true"></i></h1>
                    <span class="border"></span>
                    <h3>Happy Customers</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <h1><span class="timer" data-from="1" data-to="2381" data-speed="5000" data-refresh-interval="50">2381</span></h1>
                    <span class="border"></span>
                    <h3>Cups of Coffee</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="video-gallery-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-holder">
                    <h3>Everyboy has something important to say! assurance also.</h3>
                    <div class="text">
                        <p>We have built an enviable reputation in the consumer goods, heavy industry, high-tech, manufacturing, medical, recreational vehicle, and transportation sectors. multidisciplinary team of engineering experts.</p>
                        <p>Who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain.</p>
                        <a class="thm-btn bg-clr1" href="#">Know More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="video-holder">
                    <img src="~/images/resources/video-gallery.jpg" alt="Awesome Video Gallery">
                    <div class="overlay-gallery">
                        <div class="icon-holder">
                            <div class="icon">
                                <a class="html5lightbox" title="Assurance Video Gallery" href="https://www.youtube.com/watch?v=XOv7RmXi7VE"><img src="images/icon/play-btn.png" alt="Play Button"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="testimonial-area" style="background-image:url(images/testimonial/testimonial-bg.jpg);">
    <div class="container">
        <div class="sec-title text-center">
            <h1>What Our Customers say</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-carousel">
                    <div class="single-item text-center">
                        <div class="text-holder">
                            <p>We help clients find ways to turn everyday information into actionable insights by embedding analytics across their organization’s strategy, operations, and all working systems.</p>
                        </div>
                        <div class="client-info">
                            <div class="img-holder">
                                <img src="images/testimonial/1.png" alt="Client Photo">
                            </div>
                            <div class="name">
                                <h3>Robert Williamson</h3>
                                <p>Newyork</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-item text-center">
                        <div class="text-holder">
                            <p>We help clients find ways to turn everyday information into actionable insights by embedding analytics across their organization’s strategy, operations, and all working systems.</p>
                        </div>
                        <div class="client-info">
                            <div class="img-holder">
                                <img src="images/testimonial/1.png" alt="Client Photo">
                            </div>
                            <div class="name">
                                <h3>Robert Williamson</h3>
                                <p>Newyork</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-item text-center">
                        <div class="text-holder">
                            <p>We help clients find ways to turn everyday information into actionable insights by embedding analytics across their organization’s strategy, operations, and all working systems.</p>
                        </div>
                        <div class="client-info">
                            <div class="img-holder">
                                <img src="images/testimonial/1.png" alt="Client Photo">
                            </div>
                            <div class="name">
                                <h3>Robert Williamson</h3>
                                <p>Newyork</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="brand-area">
    <div class="container">
        <div class="sec-title">
            <h1>Partnerlerimiz</h1>
            <span class="border"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="brand">
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/abbott.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/allergan.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/astellas.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/astrazeneca.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/bauschlomb.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/bayer.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/boehringer.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/gsk.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/johnson.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/msd.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/nestle.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/novartis.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/novonordisk.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/nutricia.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/nutricia.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/pfizer.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/sanofi.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/takeda.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Media Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/lilly.jpg">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>