@{
    ViewData["Title"] = "Partnerlerimiz";
}


<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/sss.png);">
    <div class="container text-center">
        <h1>Partnerlerimiz</h1>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="index.html">Anasayfa</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li>Partnerlerimiz</li>
            </ul>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->
<!--Start partner area-->
<section class="partner-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                <div class="partner-content">
                    <div class="sec-title">
                        <h1>Partnerlerimiz</h1>
                        <span class="border"></span>
                    </div>
                    <div class="row">
                        <!--Start single item-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-item hvr-float-shadow">
                                <div class="img-holder">
                                    <img src="~/images/boxex1.jpg" alt="Our partne Image">
                                </div>
                                <div class="text-holder">
                                    <a href="#">
                                        <h3>Firma ismi</h3>
                                    </a>
                                    <span>Firma Açıklama</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-item hvr-float-shadow">
                                <div class="img-holder">
                                    <img src="~/images/boxex2.jpg" alt="Our partne Image">
                                </div>
                                <div class="text-holder">
                                    <a href="#">
                                        <h3>Firma ismi</h3>
                                    </a>
                                    <span>Firma Açıklama</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <!--Start single item-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-item hvr-float-shadow">
                                <div class="img-holder">
                                    <img src="~/images/boxex3.jpg" alt="Our partne Image">
                                </div>
                                <div class="text-holder">
                                    <a href="#">
                                        <h3>Firma ismi</h3>
                                    </a>
                                    <span>Firma Açıklama</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                    </div>
                    <div class="row">
                        <!--Start single item-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-item hvr-float-shadow">
                                <div class="img-holder">
                                    <img src ="~/images/boxex1.jpg" alt="Our partne Image">
                                </div>
                                <div class="text-holder">
                                    <a href="#">
                                        <h3>Firma ismi</h3>
                                    </a>
                                    <span>Firma Açıklama</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-item hvr-float-shadow">
                                <div class="img-holder">
                                    <img src="~/images/boxex2.jpg" alt="Our partne Image">
                                </div>
                                <div class="text-holder">
                                    <a href="#">
                                        <h3>Firma ismi</h3>
                                    </a>
                                    <span>Firma Açıklama</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-item hvr-float-shadow">
                                <div class="img-holder">
                                    <img src="~/images/boxex3.jpg" alt="Our partne Image">
                                </div>
                                <div class="text-holder">
                                    <a href="#">
                                        <h3>Firma ismi</h3>
                                    </a>
                                    <span>Firma Açıklama</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                    </div>
                    <div class="row">
                        <!--Start single item-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-item hvr-float-shadow">
                                <div class="img-holder">
                                    <img src="~/images/boxex1.jpg" alt="Our partne Image">
                                </div>
                                <div class="text-holder">
                                    <a href="#">
                                        <h3>Firma ismi</h3>
                                    </a>
                                    <span>Firma Açıklama</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s..</p>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-item hvr-float-shadow">
                                <div class="img-holder">
                                    <img src="~/images/boxex2.jpg" alt="Our partne Image">
                                </div>
                                <div class="text-holder">
                                    <a href="#">
                                        <h3>Firma ismi</h3>
                                    </a>
                                    <span>Firma Açıklama</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12 pull-left">
                <div class="left-sidebar">
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <ul class="page-link">
                            <li>
                                <a href="@Url.Action("Contact","Home")">
                                    İletişim
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("AboutUs","Home")">
                                    Hakkımızda
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("OurPartners","Home")">
                                    Partnerlerimiz
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Faq","Home")">
                                    Sıkça Sorulan Sorular
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="business-enquiry">
                            <h4>Partnerlik İçin</h4>
                            <p>
                                Ayrıca bize bir <a href="#">E-Mail</a> gönderebilirsiniz, kısa süre içinde sizinle iletişime geçeceğiz veya ücretsiz numaramızı arayabilirsiniz.<br>
                                <a href="#">0 543 648 44 77.</a>
                            </p>
                        </div>
                    </div>
                    <!--End single sidebar-->
                </div>
            </div>

        </div>
    </div>
</section>
<!--End partner area-->
