@{
    ViewData["Title"] = "Politikalar";
}

<section class="breadcrumb-area" style="background-image: url(/images/sss.png);">
    <div class="container text-center">
        <h1 style="font-style:italic;">Politikalarımız</h1>
    </div>
</section>

<section>
    <div class="container">
        <div style="margin:25px 0;">
            <div class="sec-title text-center">
                <h1>Gizlilik Politikası</h1>
                <span class="border"></span>
            </div>
            <p><strong style="text-align: justify;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-size: 16px;">Lorem Ipsum</strong><span style="text-align: justify;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-size: 16px;">&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></p>
        </div>
        <div style="margin:25px 0;">
            <div class="sec-title text-center">
                <h1>Çerez Politikası</h1>
                <span class="border"></span>
            </div>
            <p><strong style="text-align: justify;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-size: 16px;">Lorem Ipsum</strong><span style="text-align: justify;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-size: 16px;">&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></p>
        </div>
        <div style="margin:25px 0;">
            <div class="sec-title text-center">
                <h1>Güvenlik Politikası</h1>
                <span class="border"></span>
            </div>
            <p><strong style="text-align: justify;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-size: 16px;">Lorem Ipsum</strong><span style="text-align: justify;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-size: 16px;">&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></p>
        </div>
    </div>
</section>