@using Domain.ViewModel.User;
@model PackagesVM
@{
    ViewData["Title"] = "Paketler";
}

<section style="margin:60px 0;">
    <div class="container-fluid">
        <div class="container premcon">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="premcard card_three text-center" style="height: 560px !important;">
                        <div class="title">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            <h2>Başlangıç Paketi</h2>
                        </div>
                        <div class="price">
                            <h4>@(Model?.PackagePrice1 ?? 0.00f)<sup>₺</sup></h4>
                        </div>
                        <div class="option">
                            <ul>
                                <li><i class="fa-sharp fa-solid fa-check"></i>1 İlan Hakkı</li>
                                <li>Her ilan 30 gün yayında kalır</li>

                                @*            <li><div style="margin:78px;">&nbsp;</div></li> *@
                            </ul>
                        </div>
                        <a href="/PayTR/Buy?proc=advert&categoryId=1">Satın Al</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 mpremcon">
                    <div class="premcard card_three text-center" style="height: 560px !important;">
                        <div class="title">
                            <i class="fa fa-plane" aria-hidden="true"></i>
                            <h2>Gelişmiş Paket</h2>
                        </div>
                        <div class="price">
                            <h4>@(Model?.PackagePrice2 ?? 0.00f)<sup>₺</sup></h4>
                        </div>
                        <div class="option">
                            <ul>
                                <li><i class="fa-sharp fa-solid fa-check"></i>3 İlan Hakkı</li>
                                <li>Her ilan 30 gün yayında kalır</li>
                            </ul>
                        </div>
                        <a style="margin-bottom: 12px;" href="/PayTR/Buy?proc=advert&categoryId=2">Satın Al</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="premcard card_three text-center" style="height: 560px !important;">
                        <div class="title">
                            <i class="fa fa-rocket" aria-hidden="true"></i>
                            <h2>Sınırsız Paket</h2>
                        </div>
                        <div class="price">
                            <h4>@(Model?.PackagePrice3 ?? 0.00f)<sup>₺</sup></h4>
                        </div>
                        <div class="option">
                            <ul>
                                <li><i class="fa-sharp fa-solid fa-check"></i>Sınırsız İlan Hakkı</li>
                                <li>Her ilan 30 gün yayında kalır</li>
                            </ul>
                        </div>
                        <a href="/PayTR/Buy?proc=advert&categoryId=3">Satın Al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="text-center" style="font-size:18px; color:red; font-style:italic; font-weight:bold;margin:60px;">
    <span style="">*Web sitemizde üç farklı ilan paketi mevcuttur. Her paketin içinde belirtilen sayıda ilan hakkı bulunmaktadır ve bu haklar kullanıldığında, ilanınız bir ay süresince sitemizde sergilenir. Bir ilan paketi satın alındığında, paketin içeriğinde yer alan ilan hakları hesabınıza tanımlanır. Bu haklarla ilanınızı yayınlayabilir ve ilanınızın daha geniş bir kitleye ulaşmasını sağlamak için öne çıkarma özelliğini kullanabilirsiniz.</span>
</div>